<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/usr/v1/template/andTour/assets/css/vendors.css">
  <link rel="stylesheet" href="/usr/v1/template/andTour/assets/css/main.css">

  <title>And Tour</title>
</head>

<body data-barba="wrapper">


  <div class="preloader js-preloader">
    
  </div>

  <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
  	<div th:replace="~{usr/v1/infra/common/mypageSidebar :: aside}"></div>

    <div class="dashboard__main">
      <div class="dashboard__content">
        <div class="row y-gap-20 justify-between items-end pb-20 lg:pb-40 md:pb-32">
          <div class="col-auto">

            <h1 class="text-30 lh-14 fw-600">알림장</h1>

          </div>

          <div class="col-auto">

          </div>
        </div>


        <div class="py-30 px-30 rounded-4 bg-white custom_shadow">
          <div class="tabs -underline-2 js-tabs">
            <div class="tabs__controls row x-gap-40 y-gap-10 lg:x-gap-20 js-tabs-controls">
            </div>

            <div class="tabs__content pt-30 js-tabs-content">

              <div class="tabs__pane -tab-item-1 is-tab-el-active">
                <div class="cruise_search_result_wrapper">
              <form name="form" method="post" action="">
<!--               <div id="hiddenData" data-bame-seq="${baboSeq}"></div> -->
<!--               <input type="hidden" name="bameSeq" value="">  -->
               <div class="cruise_search_item" th:each="list : ${mypageNoticeList}">
                    <div class="row">
                      <div class="col-lg-4">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/image/dogNotice02.jpg">
                        </div>
                      </div> 
                      <div class="col-lg-8">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left"> 	
                              <ul>                               
                                <li>등록일 : &nbsp;<span th:text="${#dates.format(list.badiRegDate,'yyyy-MM-dd')}"></span></li>
                              </ul>
                              <h4 th:text="${list.bapeName} + '의 알림장'" name="bapeName"></h4>
<!--                               <p><i class="fas fa-map-marker-alt"></i>주소</p> -->
                            </div>
                            <div class="cruise_content_top_right" align="center">
                              <img src="/usr/v1/template/andTour/assets/image/user_img.png" style="width:50px;"> 
                              <h5 th:text="${list.basiName} + ' 펫시터' ">펫시터 이름</h5>
                            </div>
                          </div>   
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left"> 
                              <div class="form-input">
                                <label class="lh-1 text-16 text-light-1" th:text=" 'To.' + ${list.bapeName} + ' 보호자님' " name="bapeName"></label>
                                <textarea required rows="7" cols="40" style="border-style:double;background:#fffbf8;" th:text="${list.badiContent}"></textarea>
                              </div> 
                            </div> 
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>방문날짜 : &nbsp;<span th:text="${#dates.format(list.baboDate,'yyyy-MM-dd')}"></span></li>  
	                          </ul>
                              <ul>
                                <li>서비스 : &nbsp;<span></span></li>  
	                          </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="myPageBtn btn-brown"><img src="/usr/v1/template/andTour/assets/image/btn-pet-icon3.png">리뷰 쓰기</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>   
          		</form>
                </div>
              </div>

              <div class="tabs__pane -tab-item-2 ">
                <div class="cruise_search_result_wrapper">
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-1.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-2.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-3.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-1.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-2.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tabs__pane -tab-item-3 ">
                <div class="cruise_search_result_wrapper">
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-1.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-2.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-3.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-1.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-2.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="tabs__pane -tab-item-4 ">
                <div class="cruise_search_result_wrapper">
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-1.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-2.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-3.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-1.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="cruise_search_item">
                    <div class="row">
                      <div class="col-lg-3">
                        <div class="cruise_item_img">
                          <img src="/usr/v1/template/andTour/assets/img/dashboard/common/hotel-2.png" alt="/usr/v1/template/andTour/assets/img">
                        </div>
                      </div>
                      <div class="col-lg-9">
                        <div class="cruise_item_inner_content">
                          <div class="cruise_content_top_wrapper">
                            <div class="cruise_content_top_left">
                              <ul>
                                <li>7 nights 8 days tour <i class="fas fa-circle"></i></li>
                                <li>Family tour</li>
                              </ul>
                              <h4>Explore the ancient china</h4>
                              <p><i class="fas fa-map-marker-alt"></i> Beijing, China</p>
                            </div>
                            <div class="cruise_content_top_right">
                              <h5>4.8/5 Excellent</h5>
                              <h4>(1214 reviewes)</h4>
                            </div>
                          </div>
                          <div class="cruise_content_middel_wrapper">
                            <div class="cruise_content_middel_left">
                              <h5>Free cancellation</h5>
                              <p>Cancel your booking at any time</p>
                            </div>
                            <div class="cruise_content_middel_right">
                              <h3>$99.00 <sub>/Per person</sub></h3>
                              <p>+ $20.00 tax and vat</p>
                            </div>
                          </div>
                          <div class="cruise_content_bottom_wrapper">
                            <div class="cruise_content_bottom_left">
                              <ul>
                                <li>Breakfast</li>
                                <li>Free wi fi</li>
                                <li>Transport</li>
                                <li>Gym</li>
                              </ul>
                            </div>
                            <div class="cruise_content_bottom_right">
                              <a href="#!" class="button h-50 px-24 -dark-1 bg-blue-1 text-white">View details</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="pt-30">
            <div class="row justify-between">
              <div class="col-auto">
                <button class="button -blue-1 size-40 rounded-full border-light">
                  <i class="icon-chevron-left text-12"></i>
                </button>
              </div>

              <div class="col-auto">
                <div class="row x-gap-20 y-gap-20 items-center">

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full">1</div>

                  </div>

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full bg-dark-1 text-white">2</div>

                  </div>

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full">3</div>

                  </div>

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full bg-light-2">4</div>

                  </div>

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full">5</div>

                  </div>

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full">...</div>

                  </div>

                  <div class="col-auto">

                    <div class="size-40 flex-center rounded-full">20</div>

                  </div>

                </div>
              </div>

              <div class="col-auto">
                <button class="button -blue-1 size-40 rounded-full border-light">
                  <i class="icon-chevron-right text-12"></i>
                </button>
              </div>
            </div>
          </div>
        </div>


        <footer class="footer -dashboard mt-60">
          <div class="footer__row row y-gap-10 items-center justify-between">
            <div class="col-auto">
              <div class="row y-gap-20 items-center">
                <div class="col-auto">
                  <!-- <div class="text-14 lh-14 mr-30">Copyright © 2022 All Rights Reserved</div> -->
                </div>
              </div>
            </div>

            <div class="col-auto">
              <!-- <div class="d-flex x-gap-5 y-gap-5 items-center">
                 <img src="./img/avatars/card.png" alt="/usr/v1/template/andTour/assets/img">
              </div> -->
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- JavaScript -->
  <script src="../../../cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"
    integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script>
  <script src="../../../unpkg.com/%40googlemaps/markerclusterer%402.0.13/dist/index.min.js"></script>

  <script src="/usr/v1/template/andTour/assets/js/vendors.js"></script>
  <script src="/usr/v1/template/andTour/assets/js/main.js"></script>
  
  <script>

  
  
  </script>

</body>

</html>