 <!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Stylesheets -->
  <link rel="stylesheet" href="/usr/v1/template/andTour/assets/css/vendors.css">
  <link rel="stylesheet" href="/usr/v1/template/andTour/assets/css/main.css">
  
  <title>And tour</title>
</head>


<style>

</style>


<body data-barba="wrapper"> 

  <div class="preloader js-preloader">
  </div>
  
<!--   <div class="header-margin"></div> -->
<!--   <header data-add-bg="" class="header -dashboard bg-white js-header" data-x="header" data-x-toggle="is-menu-opened"> -->
<!--     <div data-anim="fade" class="header__container px-30 sm:px-20"> -->
<!--       <div class="-left-side"> -->
<!--         <a href="#!" class="header-logo" data-x="header-logo" data-x-toggle="is-logo-dark"> -->
<!--           <img src="/usr/v1/template/andTour/assets/img/general/logo.png" alt="logo icon"> -->
<!--           <img src="/usr/v1/template/andTour/assets/img/general/logo.png" alt="logo icon"> -->
<!--         </a> -->
<!--       </div> -->

<!--       <div class="row justify-between items-center pl-60 lg:pl-20"> -->
<!--         <div class="col-auto"> -->
<!--           <div class="d-flex items-center"> -->
<!--             <button data-x-click="dashboard"> -->
<!--               <i class="icon-menu-2 text-20"></i> -->
<!--             </button> -->

<!--             <div class="single-field relative d-flex items-center md:d-none ml-30"> -->
<!--               <input class="pl-50 border-light text-dark-1 h-50 rounded-8" type="email" placeholder="Search"> -->
<!--               <button class="absolute d-flex items-center h-full"> -->
<!--                 <i class="icon-search text-20 px-15 text-dark-1"></i> -->
<!--               </button> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->

<!--         <div class="col-auto"> -->
<!--           <div class="d-flex items-center"> -->
<!--             <div class="row items-center x-gap-5 y-gap-20 pl-20 lg:d-none"> -->
<!--               <div class="col-auto"> -->
<!--                 <button class="button -blue-1-05 size-50 rounded-22 flex-center"> -->
<!--                   <i class="icon-email-2 text-20"></i> -->
<!--                 </button> -->
<!--               </div> -->

<!--               <div class="col-auto"> -->
<!--                 <button class="button -blue-1-05 size-50 rounded-22 flex-center"> -->
<!--                   <i class="icon-notification text-20"></i> -->
<!--                 </button> -->
<!--               </div> -->
<!--             </div> -->

<!--             <div class="pl-15"> -->
<!--               <img src="/usr/v1/template/andTour/assets/img/avatars/3.png" alt="image" class="size-50 rounded-22 object-cover"> -->
<!--             </div> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
<!--   </header> --> 
 

  <div class="dashboard" data-x="dashboard" data-x-toggle="-is-sidebar-open">
     <div th:replace="~{usr/v1/infra/common/mypageSidebar :: aside}"></div> 
  
<!--     <div class="dashboard__sidebar bg-white scroll-bar-1"> -->
<!--       <div class="sidebar -dashboard"> -->
<!--          <div class="sidebar__item"> -->
<!--           <div class="sidebar__button -is-active"> -->
<!--             <img src="/usr/v1/template/andTour/assets/image/logo.png" style="width:150px;height:30px;"> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="sidebar__item"> -->
<!--           <div class="sidebar__button -is-active"> -->
<!--             <a href="/usr/v1/infra/mypage/baUsrMypage" class="d-flex items-center text-20 lh-1 fw-500"> -->
<!--               <i class="fas fa-border-all mr-15"></i> -->
<!--               <i class="fas fa-user-circle  mr-15"></i> -->
<!--               마이페이지 -->
<!--             </a> -->
<!--           </div> -->
<!--         </div> -->
<!--         <div class="sidebar__item"> -->
<!--           <div class="sidebar__button"> -->
<!--             <a href="/usr/v1/infra/mypage/baUsrBookingHistory" class="d-flex items-center text-20 lh-1 fw-500"> -->
<!--               <i class="fas fa-calendar-check mr-15"></i> -->
<!--               예약내역 -->
<!--             </a> -->
<!--           </div> -->
<!--         </div>  -->
<!--         <div class="sidebar__item"> -->
<!--           <div class="sidebar__button "> -->
<!--             <a href="/usr/v1/infra/mypage/baUsrNotice" class="d-flex items-center text-20 lh-1 fw-500"> -->
<!--               <i class="fas fa-book mr-15"></i> -->
<!--               알림장 -->
<!--             </a> -->
<!--           </div> -->
<!--         </div> -->
<!--       </div> -->
<!--     </div> -->

    <div class="dashboard__main"> 
      <div class="dashboard__content">
        <div class="row y-gap-20 justify-between items-end pb-20 lg:pb-40 md:pb-32">
          <div class="col-auto">
<!--            <th:block th:if="${session.sessSeqXdm != null}"> -->
             <h1 class="text-30 lh-14 fw-500">마이페이지</h1>
              <div class="text-15 text-light-1" th:text="${session.sessNameXdm} + ' 님 환영합니다!' ">사용자이름</div>
<!--             </th:block> -->
          </div>  
        </div>

        <div class="row y-gap-30">


          <div class="col-xl-6 col-md-6 col-sm-6 col-12">
            <div class="py-15 px-30 custom_border_left_green custom_rounded bg-white custom_shadow">
                <div class="row y-gap-20 justify-between items-center">
                    <div class="col-md-12 d-flex align-items-center">
                        <img src="/usr/v1/template/andTour/assets/image/user_img.png" style="width:200px; margin-right: 20px;">  
                        <div class="row">
                            <div class="col-md-12"><div class="text-30 lh-16 fw-600 text_orange" th:text="${session.sessNameXdm}">사용자 이름</div>
                            <div class="text-15 lh-14 text-light-1" th:text="${session.sessIdXdm}">아이디</div>
                            <div class="text-15 lh-14 text-light-1" style="margin-bottom: 10px;" th:text="${session.sessEmailXdm}">이메일</div>
                          </div>
                          <a href="/usr/v1/infra/baMember/baMemberUsrMform" class="myPageBtn btn-brown"><img src="/usr/v1/template/andTour/assets/image/btn-pet-icon3.png">프로필 상세</a>
                        </div>     
                    </div>
                </div>     
            </div>  
        </div> 

          <div class="col-xl-6 col-md-6 col-sm-6 col-12">
            <div class="py-15 px-30 custom_border_left_green custom_rounded bg-white custom_shadow">
                <div class="row y-gap-20 justify-between items-center">
                    <div class="col-md-12 d-flex align-items-center">
                        <img src="/usr/v1/template/andTour/assets/image/user_img.png" style="width:200px; margin-right: 20px;">  
                        <div class="row">
                          <div class="col-md-12"> 
                            <div class="text-30 lh-16 fw-600 text_orange" th:text="${session.sessPetName}">반려동물 이름</div>
                            <div class="text-15 lh-14 text-light-1" th:text="${session.sessPetAge} + '살' ">생년월일</div>
                            <div class="text-15 lh-14 text-light-1" style="margin-bottom: 10px;" th:text="${session.sessPetWeight} + 'kg' ">몸무게</div>
                          </div>
                          <a href="/usr/v1/infra/baPetprofile/baPetprofileUsrForm" class="PetprofileBtn btn-brown"><img src="/usr/v1/template/andTour/assets/image/btn-pet-icon3.png">프로필 상세</a>
                        </div>    
                    </div>  
                </div>     
            </div>
        </div> 
           

        </div>

        <div class="row y-gap-30 pt-20">
          <div class="col-xl-6 col-md-6">
            <div class="py-30 px-30 rounded-4 bg-white custom_shadow">
              <div class="d-flex justify-between items-center heading_border">
                <h2 class="text-18 lh-1 fw-500">
                  <div>예약 내역</div> 
                </h2>
                <a href="/usr/v1/infra/mypage/baUsrBookingHistory" class="myPageBtn btn-brown"><img src="/usr/v1/template/andTour/assets/image/btn-pet-icon3.png">예약내역 상세보기</a>
              </div>
              <div class="overflow-scroll scroll-bar-1 pt-30">
                <table class="table-2 col-12">
                  <thead class="">  
                    <tr align="center">
                      <th>No</th>
                      <th>예약일</th>
                      <th>시터</th>  
                    </tr>
                  </thead>
                  
                  <tbody th:each="list, iterStat : ${mypageBookingList}" th:if="${iterStat.index < 3}">
                    <tr align="center"> 
                      <td th:text="${iterStat.index + 1}">번호</td> <!-- 인덱스 + 1 -->
                      <td th:text="${#dates.format(list.baboDate,'yyyy-MM-dd')}">예약일</td>
                      <td th:text="${list.basiName}">시터</td>
                    </tr>
                  </tbody>
                  
                </table>
              </div>
            </div>
          </div>

          <div class="col-xl-6 col-md-6">
            <div class="py-30 px-30 rounded-4 bg-white custom_shadow">
              <div class="d-flex justify-between items-center heading_border">
                <h2 class="text-18 lh-1 fw-500">
                  <div>내가 남긴 리뷰</div> 
                </h2>
                <a href="/usr/v1/infra/mypage/baUsrMyReview" class="myPageBtn btn-brown"><img src="/usr/v1/template/andTour/assets/image/btn-pet-icon3.png" >리뷰 상세보기</a>
              </div>
              <div class="overflow-scroll scroll-bar-1 pt-30">
                <table class="table-2 col-12">
                  <thead class=""> 
                    <tr align="center">
                      <th>No</th>
                      <th>등록일</th>
                      <th>시터</th> 
                      <th>서비스</th>                      
                      <th>별점</th> 
                    </tr>
                  </thead>
                  <!-- th:each="list : ${mypageSitterReviewList}"  -->
                  <!-- 리스틀 개수를 3개로 제한 -->
                  <tbody th:each="list, iterStat : ${mypageSitterReviewList}" th:if="${iterStat.index < 3}" class="contentList">
                    <tr align="center">
                      <td th:text="${iterStat.index + 1}">번호</td> <!-- 인덱스 + 1 --> 
                      <td th:text="${#dates.format(list.bareRegDate,'yyyy-MM-dd')}">등록일</td>
                      <td th:text="${list.basiName}">시터 이름</td>
                      <td th:text="${list.baopName}">서비스</td>
                      <td th:text="${list.bareStar} + '점' ">별점</td>
                    </tr>
                  </tbody> 
                  
                </table>
              </div>
            </div>
          </div>

        </div>

        <footer class="footer -dashboard mt-60">
          <div class="footer__row row y-gap-10 items-center justify-between">
            <div class="col-auto">
              <div class="row y-gap-20 items-center">
                <!-- <div class="col-auto">
                  <div class="text-14 lh-14 mr-30">Copyright © 2022 All Rights Reserved</div>
                </div> -->
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
  </div>

  <!-- JavaScript -->
<!--   <script src="../../../cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
<!--   <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAAz77U5XQuEME6TpftaMdX0bBelQxXRlM"></script> -->
<!--   <script src="../../../unpkg.com/%40googlemaps/markerclusterer%402.0.13/dist/index.min.js"></script> -->
  <script src="/usr/v1/template/andTour/assets/js/chart.min.js"></script>
  <script src="/usr/v1/template/andTour/assets/js/vendors.js"></script>
  <script src="/usr/v1/template/andTour/assets/js/main.js"></script>
  
   <script>
   
//       document.addEventListener('DOMContentLoaded', () => {
//          const urlParams = new URLSearchParams(window.location.search);
//          const baboSeq = urlParams.get('bameSeq');
         
//          if(bameSeq) {
//             document.querySelector('input[name="bameSeq"]').value = bameSeq;
//          }
         
         
//       })
      
   
//      document.getElementById('myPageNoticeBtn').onclick = function() {
        
//        const baboSeq = document.querySelector('input[name="bameSeq"]').value;
           
//        form.action = "/usr/v1/infra/mypage/baUsrNotice";
//        form.submit();
          
        
//      }
  
  </script>
  
</body>

</html>
