<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
	<!-- ======= Head ======= -->
	<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
	<!-- head-end -->
    <body>
         <!--  Preloader  -->
            <div id="preloader">
                <div id="loading"> </div>
            </div>
            <!--  Preloader end  -->
            
			<!-- ======= Header ======= -->
			<div th:replace="~{usr/v1/infra/common/header :: header}"></div>
			<!-- header-end -->
			
			<!-- ======= offcanvas_menu ======= -->
			<div th:replace="~{usr/v1/infra/common/offcanvas_menu :: div}"></div>
			<!-- offcanvas_menu end -->
			
        <!-- main-area -->
        <main>
           <!-- slider-area -->
            <section class="slider-area p-relative">
                 <div class="slider-active" style="background: #101010;">
				    <div class="single-slider slider-bg d-flex align-items-center" style="background-image: url(/usr/v1/template/petxon/assets/img/backgroundimg/dogBg05.jpg); background-size: cover;">
                        <div class="container">
                           <div class="row justify-content-center align-items-center">
                                <div class="col-lg-6 col-md-8">
                                    <div class="slider-content s-slider-content mt-200 pt-50">
                                         <h5 data-animation="fadeInUp" data-delay=".4s"><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>Welcome to Patexon!</span></h5>
                                         <h2 data-animation="fadeInUp" data-delay=".4s">Best care of our little friends</h2>
                                        <p data-animation="fadeInUp" data-delay=".6s">From pet sitting to grooming and everything in between, we're committed to ensuring the health, happiness, and well-being of your furry friends.</p>
                                          <div class="slider-btn mt-30 mb-105">     
<!--                                             <a href="contact.html" class="btn btn-w mr-15" data-animation="fadeInLeft" data-delay=".4s"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon2.png" alt="logo"> Learn More</a> -->
                                        </div>        
                                                              
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-4 p-relative">
                                </div>
                                
                            </div>
                        </div>
                    </div>
                  </div>
            </section>
            <!-- slider-area-end -->      
             <!-- service-area -->
            <section class="service-details-two p-relative">
                <div class="container">
                    <div class="row">
                      
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="services-box07">                                
                             <div class="sr-contner-one">
                                <div class="icon">
                                <img src="/usr/v1/template/petxon/assets/img/icon/sve-icon1.png" alt="icon01">
                                </div>
                                <div class="text">
                                    <h5><a href="about.html">반려견 돌봄 및 산책</a></h5>
                                    <p>혼자 남겨진 반려견을 위해 돌봄부터
                                        <br>산책까지의 서비스 제공
                                    </p>
                                </div>
                             </div>       
                            </div>
                        </div>
                         <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="services-box07 acitve">   
                                <div class="icon-hover">
                                <img src="/usr/v1/template/petxon/assets/img/icon/fbox-hover.png" alt="icon01">
                                </div>
                             <div class="sr-contner-one">
                                <div class="icon">
                                <img src="/usr/v1/template/petxon/assets/img/icon/sve-icon2.png" alt="icon01">
                                </div>
                                <div class="text">
                                    <h5><a href="about.html">펫시터와의 중간지점</a></h5>
                                    <p>집 방문이 부담스러운 견주를 위해 펫시터와
                                        <br>중간지점을 확인해서 만남장소를 
                                        <br>정하는 서비스 제공
                                    </p>                                   
                                </div>
                             </div>       
                            </div>
                        </div>
					 <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="services-box07">                                
                             <div class="sr-contner-one">
                                <div class="icon">
                                <img src="/usr/v1/template/petxon/assets/img/icon/sve-icon3.png" alt="icon01">
                                </div>
                                <div class="text">
                                    <h5><a href="about.html">반려견 동반 장소 추천</a></h5>
                                    <p>반려견 동반 가능한 음식점, 카페, 공원 등
                                        <br>장소를 추천해주는 서비스 제공
                                    </p>                                  
                                </div>
                             </div>       
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- service-details2-area-end -->   
           
             <!-- about-area -->
            <section class="about-area about-p pt-120 pb-120 p-relative fix">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                         <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                                <img src="/usr/v1/template/petxon/assets/img/indexImg/main_dog01.jpg" alt="img"> 
                               <div class="about-text second-about"  style="background-image: url(/usr/v1/template/petxon/assets/img/indexImg/main_dog02.jpg); background-size: cover;">
<!--                                    <div class="text"> -->
<!--                                     <span>30</span>  -->
<!--                                     <p>Years of Experience</p> -->
<!--                                    </div> -->
                                </div>
                            </div>
                          
                        </div>
                        
					<div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content s-about-content pl-15 wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title second-title pb-25">  
                                    <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>since from 2024</span></h5>
                                    <h2>Together, <span>for a Better</span> Pet Life</h2>                                   
                                </div>                                  
                                    <p> 
										펫시터가 직접 찾아가
										반려동물과 따뜻한 시간을 함께합니다. <br>
										Together에서 새로운 반려생활을 시작하세요!
									</p>          
									<p>           
										반려동물을 사랑하는 마음은 물론, 반려동물 관련 자격증 <br>
										또는 전문 지식을 갖춘 분들이 전문 펫시터로 활동하고 있습니다.
									</p>                
                                 <div class="slider-btn mt-20">                                          
<!--                                      <a href="contact.html" class="btn btn-brown"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo"> Learn More</a> -->
                                </div>
                            </div>
                        </div>
                     
                    </div>
                </div>
            </section>
            <!-- about-area-end -->
             <!-- service-area -->
            <section class="service pb-120 p-relative fix" style="background: #fff;">
                <div class="scrollbox2">
                    <div class="scrollbox scrollbox--secondary scrollbox--reverse">
                     <div class="scrollbox__item"> <div class="section-t"><h2>Sitter Services</h2></div></div>
                     <div class="scrollbox__item"> <div class="section-t"><h2>Sitter Services</h2></div></div>
                    </div>         
                </div>                 
                <div class="container">
                    <div class="row sbox">
                   	  <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services-box">
                                <div class="img sitterProfileImg">
                                	<img src="/usr/v1/template/petxon/assets/img/sitterProfile/hyewon.png" alt="logo">
                                </div>
                                <div class="services-box-hover text-center">
<!--                                     <div class="icon"> -->
<!--                                     	<img src="/usr/v1/template/petxon/assets/img/icon/ser-icon-02.png" alt="logo"> -->
<!--                                     </div> -->
                                    <div class="text">
                                    	<h3><a href="single-service.html">김혜원</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>          
                          <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services-box">
                                <div class="img sitterProfileImg">
                                	<img src="/usr/v1/template/petxon/assets/img/sitterProfile/sei.png" alt="logo">
                                </div>
                                <div class="services-box-hover text-center">
<!--                                     <div class="icon"> -->
<!--                                     	<img src="/usr/v1/template/petxon/assets/img/icon/ser-icon-02.png" alt="logo"> -->
<!--                                     </div> -->
                                    <div class="text">
                                    	<h3><a href="single-service.html">박세이</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>           
                          <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services-box">
                                <div class="img sitterProfileImg">
                                	<img src="/usr/v1/template/petxon/assets/img/sitterProfile/hoyobin.png" alt="logo">
                                </div>
                                <div class="services-box-hover text-center">
<!--                                     <div class="icon"> -->
<!--                                     	<img src="/usr/v1/template/petxon/assets/img/icon/ser-icon-02.png" alt="logo"> -->
<!--                                     </div> -->
                                    <div class="text">
                                    	<h3><a href="single-service.html">박효빈</a></h3>
                                    </div>
                                </div>
                            </div>
                         </div>           
                          <div class="col-lg-3 col-md-6 col-sm-12">
                            <div class="services-box">
                                <div class="img sitterProfileImg">
                                	<img src="/usr/v1/template/petxon/assets/img/sitterProfile/doyoung.png" alt="logo">
                                </div>
                                <div class="services-box-hover text-center">
<!--                                     <div class="icon"> -->
<!--                                     	<img src="/usr/v1/template/petxon/assets/img/icon/ser-icon-02.png" alt="logo"> -->
<!--                                     </div> -->
                                    <div class="text">
                                    	<h3><a href="single-service.html">임도영</a></h3>
                                    </div>
                                </div>
                            </div>
                         </div>           
                                  
                      
          
                    </div>
<!--                     <div class="row"> -->
<!--                         <div class="col-lg-12 text-center"> -->
<!--                                 <div class="slider-btn mt-80">                                           -->
<!--                                      <a href="contact.html" class="btn btn-brown"> -->
<!--                                      	<img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo"> More Services -->
<!--                                      </a> -->
<!--                                 </div> -->
<!--                         </div> -->
<!--                     </div> -->
                </div>
                <div class="scrollbox3">
                    <div class="scrollbox scrollbox--secondary scrollbox--reverse">
                     <div class="scrollbox__item"> <div class="section-t"><h2>We serving quality service</h2></div></div>
                    <div class="scrollbox__item"> <div class="section-t"><h2>We serving quality service</h2></div></div>
                    </div>         
                </div>                
            </section>
            <!-- service-details2-area-end -->
              <!-- faq-area -->
<!--             <section class="faq-area pt-120 pb-120 p-relative fix" style="background: #564741;"> -->
<!--                 <div class="container"> -->
<!--                     <div class="row align-items-center">                        -->
<!--                         <div class="col-lg-6 col-md-12  wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">                             -->
<!--                            <div class="faq-wrap wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s"> -->
<!--                                 <div class="section-title second-title mb-50">   -->
<!--                                     <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>few q & answer</span></h5> -->
<!--                                     <h2>Benefits of choosing <span>Petxon</span></h2>                                    -->
<!--                                 </div>           -->
<!--                                 <div class="accordion" id="accordionExample"> -->
<!--                                     <div class="card"> -->
<!--                                         <div class="card-header" id="headingThree"> -->
<!--                                             <h2 class="mb-0"> -->
<!--                                                 <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"  > -->
<!--                                                   Professional Care -->
<!--                                                 </button> -->
<!--                                             </h2> -->
<!--                                         </div> -->
<!--                                         <div id="collapseThree" class="collapse" data-bs-parent="#accordionExample"> -->
<!--                                             <div class="card-body"> -->
<!--                                                 Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags). -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <div class="card"> -->
<!--                                         <div class="card-header" id="headingOne"> -->
<!--                                             <h2 class="mb-0"> -->
<!--                                                 <button class="faq-btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"> -->
<!--                                                  Personalized Service -->
<!--                                                 </button> -->
<!--                                             </h2> -->
<!--                                         </div> -->
<!--                                         <div id="collapseOne" class="collapse show" data-bs-parent="#accordionExample"> -->
<!--                                             <div class="card-body"> -->
<!--                                                  Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags). -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <div class="card"> -->
<!--                                         <div class="card-header" id="headingTwo"> -->
<!--                                             <h2 class="mb-0"> -->
<!--                                                 <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"  > -->
<!--                                                   Safety and Security -->
<!--                                                 </button> -->
<!--                                             </h2> -->
<!--                                         </div> -->
<!--                                         <div id="collapseTwo" class="collapse" data-bs-parent="#accordionExample"> -->
<!--                                             <div class="card-body"> -->
<!--                                               Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags). -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                     </div>    -->
<!--                                     <div class="card"> -->
<!--                                         <div class="card-header" id="headingFour"> -->
<!--                                             <h2 class="mb-0"> -->
<!--                                                 <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"  > -->
<!--                                                Affordability -->
<!--                                                 </button> -->
<!--                                             </h2> -->
<!--                                         </div> -->
<!--                                         <div id="collapseFour" class="collapse" data-bs-parent="#accordionExample"> -->
<!--                                             <div class="card-body"> -->
<!--                                                  Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags). -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                     </div>                              -->
                                                              
<!--                                 </div> -->
<!--                             </div>   -->
<!--                         </div>      -->
<!--                         <div class="col-lg-1 col-md-12"></div> -->
<!--                          <div class="col-lg-5 col-md-12  wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s"> -->
                           
<!--                             <div class="faq-img"> -->
<!--                                 <img src="/usr/v1/template/petxon/assets/img/bg/faq-img.png" alt="circle_right"> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="row pt-120"> -->
<!--                         <div class="col-lg-12"> -->
<!--                             <div class="stitle"><span>who trust us</span></div> -->
<!--                         </div> -->
<!--                         <div class="col-lg-12"> -->
<!--                              brand-area -->
<!--                                 <div class="row brand-active"> -->
<!--                                     <div class="col-xl-2"> -->
<!--                                         <div class="single-brand"> -->
<!--                                             <img src="/usr/v1/template/petxon/assets/img/brand/b-logo1.png" alt="img"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <div class="col-xl-2"> -->
<!--                                         <div class="single-brand"> -->
<!--                                              <img src="/usr/v1/template/petxon/assets/img/brand/b-logo2.png" alt="img"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <div class="col-xl-2"> -->
<!--                                         <div class="single-brand"> -->
<!--                                              <img src="/usr/v1/template/petxon/assets/img/brand/b-logo3.png" alt="img"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <div class="col-xl-2"> -->
<!--                                         <div class="single-brand"> -->
<!--                                               <img src="/usr/v1/template/petxon/assets/img/brand/b-logo4.png" alt="img"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <div class="col-xl-2"> -->
<!--                                         <div class="single-brand"> -->
<!--                                              <img src="/usr/v1/template/petxon/assets/img/brand/b-logo5.png" alt="img"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                      <div class="col-xl-2"> -->
<!--                                         <div class="single-brand"> -->
<!--                                              <img src="/usr/v1/template/petxon/assets/img/brand/b-logo2.png" alt="img"> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 brand-area-end       -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </section> -->
           <!-- faq-area -->    
             <!-- about-area -->
<!--             <section id="about" class="about-area3 pt-120 pb-120 p-relative fix"> -->
<!--                 <div class="container"> -->
<!--                     <div class="row"> -->
<!--                         <div class="col-lg-6 col-md-12 col-sm-12"> -->
<!--                             <div class="s-about-img p-relative  wow fadeInLeft animated text-left" data-animation="fadeInLeft" data-delay=".4s"> -->
<!--                                 <img src="/usr/v1/template/petxon/assets/img/features/ab-img-01.png" alt="img">                                                         -->
<!--                             </div> -->
                          
<!--                         </div>                         -->
<!--                         <div class="col-lg-6 col-md-12 col-sm-12"> -->
<!--                             <div class="about-content wow fadeInRight  animated pl-40" data-animation="fadeInRight" data-delay=".4s"> -->
<!--                                 <div class="about-title mb-20">   -->
<!--                                     <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>core feature</span></h5> -->
<!--                                     <h2>Why choose us</h2>                                    -->
<!--                                 </div> -->
<!--                                    <p>Our dedicated team of animal lovers is committed to providing top-quality care and personalized attention to ensure the health.</p> -->
<!--                                 <div class="row"> -->
<!--                                     <div class="col-lg-6"> -->
<!--                                         <div class="abox"> -->
<!--                                             <div class="icon"><img src="/usr/v1/template/petxon/assets/img/icon/ab-icon-01.png" alt="feature"></div> -->
<!--                                             <div class="text"> -->
<!--                                                 <h5>Pet Quality Food</h5> -->
<!--                                                 <p>With a range of services including pet sitting, dog walking, and grooming.</p> -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                      <div class="col-lg-6"> -->
<!--                                         <div class="abox"> -->
<!--                                             <div class="icon"><img src="/usr/v1/template/petxon/assets/img/icon/ab-icon-01.png" alt="feature"></div> -->
<!--                                             <div class="text"> -->
<!--                                                 <h5>Pet Quality Food</h5> -->
<!--                                                 <p>With a range of services including pet sitting, dog walking, and grooming.</p> -->
<!--                                             </div> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                    <a href="about.html" class="btn btn-brown"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo"> Read More</a> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                      <div class="row align-items-center">                                               -->
<!--                         <div class="col-lg-6 col-md-12 col-sm-12"> -->
<!--                             <div class="about-content wow fadeInRight  animated pr-40" data-animation="fadeInRight" data-delay=".4s"> -->
<!--                                 <div class="about-title mb-20">   -->
<!--                                     <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>productivity</span></h5> -->
<!--                                     <h2>We serving best care service for pet</h2>                                    -->
<!--                                 </div> -->
<!--                                    <p>Our dedicated team of animal lovers is committed to providing top-quality care and personalized attention to ensure the health.</p> -->
<!--                                 <div class="row"> -->
<!--                                     <div class="col-lg-6"> -->
<!--                                        <div class="abox"> -->
<!--                                             <ul> -->
<!--                                                 <li>On-demand service</li> -->
<!--                                                 <li>Our dedicated team</li> -->
<!--                                             </ul> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                      <div class="col-lg-6"> -->
<!--                                         <div class="abox"> -->
<!--                                             <ul> -->
<!--                                                 <li>Providing quality food for pets</li> -->
<!--                                                 <li>24/7 online call & support</li> -->
<!--                                             </ul> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                    <a href="about.html" class="btn btn-brown mt-40"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo"> Get In Touch</a> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                          <div class="col-lg-6 col-md-12 col-sm-12"> -->
<!--                             <div class="s-about-img2 p-relative  wow fadeInLeft animated text-left" data-animation="fadeInLeft" data-delay=".4s"> -->
<!--                                 <img src="/usr/v1/template/petxon/assets/img/features/ab-img-02.png" alt="img">                                                         -->
<!--                             </div> -->
<!--                         </div>   -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </section> -->
            <!-- about-area-end -->   
             
             <!-- why-choose-area -->
            <section class="why-choose-area p-relative fix pt-120 pb-120"  style="background-image: url(/usr/v1/template/petxon/assets/img/bg/why-choose-bg.png);background-size: cover;">
                <div class="container">
                    <div class="row justify-content-center align-items-center">					   
                        <div class="col-lg-6 col-md-12 col-sm-12 pr-30">
                          <ul class="box">
<!--                                  <li> -->
<!--                                      <div class="choose-box"> -->
<!--                                       <div class="choose-icon mb-20"> -->
<!--                                            <img src="/usr/v1/template/petxon/assets/img/icon/why-choose-icon-01.png" alt="img"> -->
<!--                                         </div>                                  -->
<!--                                        <div class="choose-text"> -->
<!--                                             <h5><a href="single-service.html">Grooming Services</a></h5>    -->
<!--                                             <p>Keep your pet looking and feeling their best.</p> -->
<!--                                         </div> -->
<!--                                     </div>  -->
<!--                                  </li> -->
<!--                               	 <li> -->
<!--                                      <div class="choose-box"> -->
<!--                                       <div class="choose-icon mb-20"> -->
<!--                                            <img src="/usr/v1/template/petxon/assets/img/icon/why-choose-icon-02.png" alt="img"> -->
<!--                                         </div>                                  -->
<!--                                        <div class="choose-text"> -->
<!--                                             <h5><a href="single-service.html">Pet Taxi</a></h5>    -->
<!--                                             <p>Keep your pet looking and feeling their best.</p> -->
<!--                                         </div> -->
<!--                                     </div>  -->
<!--                                  </li> -->
								  <li>
                                     <div class="choose-box">
                                      <div class="choose-icon mb-20">
                                           <img src="/usr/v1/template/petxon/assets/img/icon/why-choose-icon-04.png" alt="img">
                                        </div>                                 
                                       <div class="choose-text">
                                            <h5><a href="single-service.html">방문 돌봄</a></h5>   
                                            <p>시터가 직접 집으로 찾아갑니다.</p>
                                        </div>
                                    </div> 
                                 </li>
                              	 <li>
                                     <div class="choose-box">
                                      <div class="choose-icon mb-20">
                                           <img src="/usr/v1/template/petxon/assets/img/icon/why-choose-icon-03.png" alt="img">
                                        </div>                                 
                                       <div class="choose-text">
                                            <h5><a href="single-service.html">맞춤 산책</a></h5>   
                                            <p>요청한 코스로 산책을 진행합니다.</p>
                                        </div>
                                    </div> 
                                 </li>
                             </ul>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="why-choose-content wow fadeInRight animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="section-title pb-20">    
                                    <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>Our services</span></h5>
                                    <h2>Our Pet Care Services</h2>                                                  
                                </div>
                                <p>
                                	요청하신 시간에 방문 돌봄, 맞춤 산책을 지원합니다. <br>
                                	돌봄 후에 알림장으로 반려동물이 오늘 하루를 어떻게 보냈는지 알 수 있어요.
                                </p>   
                                <div class="why-choose-contact"> 
                                    <ul>
                                        <li>
                                            <div class="icon"><img src="/usr/v1/template/petxon/assets/img/icon/telephone-2.png" alt="feature"></div>
                                            <div class="text"><span>Call Us</span><h5>+88 (123) 456 78</h5></div>
                                        </li>
                                         <li>
                                            <div class="icon"><img src="/usr/v1/template/petxon/assets/img/icon/email.png" alt="feature"></div>
                                            <div class="text"><span>Email Us</span><h5>Together@gmail.com</h5></div>
                                        </li>
                                    </ul>
                                </div>
<!--                                 <a href="about.html" class="btn btn-brown mt-50"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo"> Get In Touch</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- why-choose-area-end -->
            <!-- product-slider -->          
<!--             <section class="home-product-slider pt-120 pb-90 fix" style="background: url(/usr/v1/template/petxon/assets/img/bg/product-bg.png); background-size: contain; background-position: center center; background-repeat: no-repeat;"> -->
<!--                 <div class="container"> -->
<!--                     <div class="row">    -->
<!--                         <div class="col-lg-12"> -->
<!--                             <div class="section-title center-align mb-50 text-center wow fadeInDown  animated" data-animation="fadeInDown" data-delay=".4s"> -->
<!--                                 <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>Products</span></h5> -->
<!--                                 <h2> -->
<!--                                  Featured products -->
<!--                                 </h2> -->
                             
<!--                             </div> -->
                           
<!--                         </div> -->
                         
<!--                     </div> -->
<!--                     <div class="row"> -->
<!--                         <div class="col-lg-3 col-md-12"> -->
<!--                             <div class="product mb-40"> -->
<!--                                 <div class="product__img"> -->
<!--                                     <a href="shop-details.html"><img src="/usr/v1/template/petxon/assets/img/shop/img1.jpg" alt=""></a> -->
<!--                                     <div class="product-action text-center"> -->
<!--                                         <a href="shop-details.html">Add Cart</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="product__content pt-30"> -->
<!--                                       <div class="price"> -->
<!--                                             <span>$75.69</span> -->
<!--                                         </div> -->
<!--                                     <h4 class="pro-title"><a href="shop-details.html">Pablo Dog Jacket</a></h4> -->
<!--                                 </div> -->
<!--                             </div>                           -->
<!--                         </div> -->
<!--                         <div class="col-lg-3 col-md-12"> -->
<!--                             <div class="product mb-40"> -->
<!--                                 <div class="product__img"> -->
<!--                                     <a href="shop-details.html"><img src="/usr/v1/template/petxon/assets/img/shop/img2.jpg" alt=""></a> -->
<!--                                     <div class="product-action text-center"> -->
<!--                                         <a href="shop-details.html">Add Cart</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="product__content pt-30"> -->
<!--                                     <div class="price"> -->
<!--                                         <span>$75.69</span> -->
<!--                                     </div> -->
<!--                                     <h4 class="pro-title"><a href="shop-details.html">Astro Food Home</a></h4> -->
<!--                                 </div> -->
<!--                             </div>  -->
<!--                         </div> -->
<!--                         <div class="col-lg-3 col-md-12"> -->
<!--                             <div class="product mb-40"> -->
<!--                                 <div class="product__img"> -->
<!--                                     <a href="shop-details.html"><img src="/usr/v1/template/petxon/assets/img/shop/img3.jpg" alt=""></a> -->
<!--                                     <div class="product-action text-center"> -->
<!--                                         <a href="shop-details.html">Add Cart</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="product__content pt-30"> -->
<!--                                     <div class="price"> -->
<!--                                         <span>$75.69</span> -->
<!--                                     </div> -->
<!--                                     <h4 class="pro-title"><a href="shop-details.html">Timzo Soft Cat Toy</a></h4> -->
<!--                                 </div> -->
<!--                             </div>  -->
<!--                         </div> -->
<!--                          <div class="col-lg-3 col-md-12"> -->
<!--                             <div class="product mb-40"> -->
<!--                                 <div class="product__img"> -->
<!--                                     <a href="shop-details.html"><img src="/usr/v1/template/petxon/assets/img/shop/img4.jpg" alt=""></a> -->
<!--                                     <div class="product-action text-center"> -->
<!--                                         <a href="shop-details.html">Add Cart</a> -->
<!--                                     </div> -->
<!--                                 </div> -->
<!--                                 <div class="product__content pt-30"> -->
<!--                                     <div class="price">                                     -->
<!--                                          <span>$75.69</span> -->
<!--                                     </div> -->
<!--                                     <h4 class="pro-title"><a href="shop-details.html">Food Eco Foods</a></h4> -->
<!--                                 </div> -->
<!--                             </div>  -->
<!--                         </div>                         -->
<!--                     </div> -->
<!--                     <div class="row"> -->
<!--                         <div class="col-lg-12 col-md-12 text-center"> -->
<!--                             <a href="about.html" class="btn btn-brown mt-50"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo"> Get In Touch</a> -->
<!--                         </div> -->
<!--                     </div> -->
<!--                 </div> -->
<!--             </section> -->
            <!-- product-slider -->  
              <!-- blog-area -->
<!--             <section id="blog" class="blog-area p-relative fix pt-120 pb-60" style="background: url(/usr/v1/template/petxon/assets/img/bg/services-bg.png); background-repeat: no-repeat;"> -->
<!--               	  <div class="container"> -->
<!--                     <div class="row align-items-center">  -->
<!--                         <div class="col-lg-12"> -->
<!--                             <div class="section-title mb-80 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s"> -->
<!--                                 <h5><img src="/usr/v1/template/petxon/assets/img/icon/sub-icon.png" alt="feature"> <span>insights</span></h5> -->
<!--                                 <h2> -->
<!--                                    Our company updates -->
<!--                                 </h2>                   -->
<!--                             </div> -->
                           
<!--                         </div> -->
<!--                     </div> -->
<!--                     <div class="row"> -->
<!--                        <div class="col-lg-4 col-md-6"> -->
<!--                             <div class="single-post2 hover-zoomin mb-30 wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s"> -->
<!--                                 <div class="blog-thumb2"> -->
<!--                                     <a href="blog-details.html"><img src="/usr/v1/template/petxon/assets/img/blog/inner_b1.jpg" alt="img"></a> -->
<!--                                 </div>                     -->
<!--                                 <div class="blog-content2">    -->
<!--                                    <div class="b-meta"> -->
<!--                                         <div class="meta-info"> -->
<!--                                             <ul> -->
<!--                                                 <li> <i class="fal fa-calendar-alt"></i> 24th March 2024 </li> -->
<!--                                                 <li>Pets Care</li> -->
<!--                                             </ul> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <h4><a href="blog-details.html">The Importance of Regular Exercise for Your Pet</a></h4>  -->
<!--                                     <div class="blog-btn"><a href="blog-details.html">Read More</a></div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                          <div class="col-lg-4 col-md-6"> -->
<!--                             <div class="single-post2 mb-30 hover-zoomin wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s"> -->
<!--                                 <div class="blog-thumb2"> -->
<!--                                     <a href="blog-details.html"><img src="/usr/v1/template/petxon/assets/img/blog/inner_b2.jpg" alt="img"></a> -->
<!--                                 </div> -->
<!--                                 <div class="blog-content2">    -->
<!--                                    <div class="b-meta"> -->
<!--                                         <div class="meta-info"> -->
<!--                                             <ul> -->
<!--                                                 <li> <i class="fal fa-calendar-alt"></i> 24th March 2024 </li> -->
<!--                                                 <li>Pets Care</li> -->
<!--                                             </ul> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <h4><a href="blog-details.html">Grooming Tips for a Happy and Healthy Pet</a></h4>  -->
<!--                                     <div class="blog-btn"><a href="blog-details.html">Read More</a></div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
<!--                         <div class="col-lg-4 col-md-6"> -->
<!--                             <div class="single-post2 mb-30 hover-zoomin wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s"> -->
<!--                                 <div class="blog-thumb2"> -->
<!--                                     <a href="blog-details.html"><img src="/usr/v1/template/petxon/assets/img/blog/inner_b3.jpg" alt="img"></a> -->
<!--                                 </div> -->
<!--                                 <div class="blog-content2">    -->
<!--                                    <div class="b-meta"> -->
<!--                                         <div class="meta-info"> -->
<!--                                             <ul> -->
<!--                                                 <li> <i class="fal fa-calendar-alt"></i> 24th March 2024 </li> -->
<!--                                                 <li>Pets Care</li> -->
<!--                                             </ul> -->
<!--                                         </div> -->
<!--                                     </div> -->
<!--                                     <h4><a href="blog-details.html">Tips for a Safe and Comfortable Environment</a></h4>  -->
<!--                                     <div class="blog-btn"><a href="blog-details.html">Read More</a></div> -->
<!--                                 </div> -->
<!--                             </div> -->
<!--                         </div> -->
                
                        
<!--                     </div> -->
<!--                 </div> -->
<!--             </section> -->
            <!-- blog-area-end -->      
              
        </main>
        <!-- main-area-end -->

        <!-- footer -->
        <footer class="footer-bg footer-p" style="background-color: #40332E; background-image: url(/usr/v1/template/petxon/assets/img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
            <div class="footer-top  pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-between">
                        
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">  
                                 <div class="f-widget-title">
                                    <h2>Working Hours</h2>
                                </div>
                                <div class="f-work-hour">
                                    <ul>
                                        <li><span>Mon - Fri:</span> <strong>7am - 6pm</strong></li>
                                        <li><span>Saturday:</span> <strong>9am - 4pm</strong></li>
                                        <li><span>Sunday:</span> <strong>Closed</strong></li>
                                    </ul>
                                </div>                                 
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-04.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-05.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-06.png" alt="img"></a></li>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Essential</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">About us</a></li>
                                        <li><a href="about.html"> Careers</a></li>
                                        <li><a href="services.html"> Prices </a></li>
                                        <li><a href="contact.html"> Services</a></li>
                                        <li><a href="blog.html">Get In Touch </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>More Pages</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">Auto production</a></li>
                                        <li><a href="about.html"> Investors</a></li>
                                        <li><a href="services.html"> News </a></li>
                                        <li><a href="contact.html"> FAQ’s</a></li>
                                        <li><a href="blog.html">Contact us </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                             <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                   <h2> <img src="/usr/v1/template/petxon/assets/img/logo/f_logo.png" alt="img"></h2>
                                </div>
                                  <div class="f-contact">
                                   <ul>
                                      <li>
                                        <h6>Call Us</h6>
                                         <span>+123 456 7890</span>
                                      </li>
                                      <li>
                                        <h6>Our Address</h6>
                                         <span>92 Bowery St, New York, NY</span>
                                      </li>
                                   </ul>
                                </div>
                             </div>
                          </div>                       
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center c-mid">                        
                         <div class="col-lg-4 col-md-6 ">
                               <ul>
                                    <li><a href="#">Privacy Policy</a></li>    
                                    <li><a href="#">Terms Of Service</a></li>
                                </ul>
                            </div>
                         <div class="col-lg-4 col-md-6 ">
                          <div class="copy-text text-center">
                                 Copyright &copy; Petxon 2024. All rights reserved.       
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 text-right text-xl-right">
                            <div class="footer-social">                                    
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>    
                        </div>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!-- footer-end -->

		<!-- JS here -->
        <script src="/usr/v1/template/petxon/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/vendor/jquery.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/popper.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/bootstrap.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/slick.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/ajax-form.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/paroller.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/wow.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/imagesloaded.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/parallax.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.waypoints.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.counterup.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/parallax-scroll.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/swiper.min.js"></script>        
        <script src="/usr/v1/template/petxon/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/element-in-view.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/vanilla-tilt.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/main.js"></script>
    </body>
</html>

<script type="text/javascript">
 	// 로그아웃 
    document.getElementById("logoutBtn").onclick = function () {
             $.ajax({  
               async: true
               ,cache: false
               ,type: "post"
               /* ,dataType:"json" */
               ,url: "/usr/v1/infra/common/baUsrSignOutProc"
               /* ,data : $("#formLogin").serialize() */
               ,success: function(response) {
                  if(response.rt == "success") {
                     location.href="/usr/v1/infra/common/baUsrSignIn";  
                  } else {        
                     // by pass  
                  }
                 }      
                }); // ajax end
     } // logoutBtn end
    </script>