<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">

<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- Head end -->

<style>
.btn-primary:hover {
	background-color: #564741;
}

.btn-primary:active {
	background-color: #564741;
}

.btn-primary:focus {
	background-color: #564741;
	border-color: #564741;
}
</style>

<body>
	<!--  Preloader  -->
	<div id="preloader">
		<div id="loading"></div>
	</div>
	<!--  Preloader end  -->

	<!-- ======= Header ======= -->
	<div th:replace="~{usr/v1/infra/common/header :: header}"></div>
	<!-- header-end -->

	<!-- offcanvas-area -->
	<div class="offcanvas-menu">
		<span class="menu-close"><i class="fas fa-times"></i></span>
		<form role="search" method="get" id="searchform" class="searchform"
			action="http://wordpress.zcube.in/xconsulta/">
			<input type="text" name="s" id="search" placeholder="Search" />
			<button>
				<i class="fa fa-search"></i>
			</button>
		</form>


		<div id="cssmenu3" class="menu-one-page-menu-container">
			<ul class="menu">
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="index.html">Home</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="about.html">About Us</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="services.html">Services</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="pricing.html">Pricing </a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="team.html">Team </a></li>

				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="projects.html">Cases Study</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="blog.html">Blog</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="contact.html">Contact</a></li>
			</ul>
		</div>

		<div id="cssmenu2" class="menu-one-page-menu-container">
			<ul id="menu-one-page-menu-12" class="menu">
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="#home"><span>+8 12 3456897</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
					href="#howitwork"><span>info@example.com</span></a></li>
			</ul>
		</div>
	</div>
	<div class="offcanvas-overly"></div>
	<!-- offcanvas-end -->
	<!-- main-area -->
	<main>

		<!-- breadcrumb-area -->
		<section class="breadcrumb-area d-flex align-items-center"
			style="background-image: url(/usr/v1/template/petxon/assets/img/bg/bdrc-bg.jpg)">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-12 col-lg-12">
						<div class="breadcrumb-wrap text-left">
							<div class="breadcrumb-title">
								<h2>중간 장소 찾기</h2>
								<div class="breadcrumb-wrap">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Gallery
											</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-area-end -->
		<!-- gallery-area -->
		<section class="gallery-area fix pt-120 pb-90">
		    <div class="container">
			    <form id="routeForm">
			        <div class="row justify-content-center">
			            <div class="col-md-6">
			                <div class="input-group input-group-lg">
			                    <span class="input-group-text" id="inputGroup-sizing-lg" style="background: none;"> 
			                        <i class="bi bi-geo-alt-fill"></i>
			                    </span> 
			                    <input type="text" class="form-control" placeholder="1. 출발지를 입력해주세요" aria-label="출발지 입력" id="address1"
			                        aria-describedby="inputGroup-sizing-lg" onclick="sample6_execDaumPostcode('address1')">
			                </div>
			            </div>
			        </div>
			        <div class="row mt-4 justify-content-center">
			            <div class="col-md-6">
			                <div class="input-group input-group-lg">
			                    <span class="input-group-text" id="inputGroup-sizing-lg" style="background: none;"> 
			                        <i class="bi bi-geo-alt-fill"></i>
			                    </span> 
			                    <input type="text" class="form-control" placeholder="2. 도착지를 입력해주세요" aria-label="도착지 입력" id="address2"
			                        aria-describedby="inputGroup-sizing-lg" onclick="sample6_execDaumPostcode('address2')">
			                </div>
			            </div>
			        </div>
			        <div class="row mt-4 justify-content-center">
			            <div class="col-md-6">
			                <!-- 버튼과 input의 동일 너비를 위해 col-md-6 사용 -->
			                <div class="d-grid gap-2">
			                    <button class="btn btn-primary btn-lg" type="button" id="find-midpoint-btn">중간 장소 찾기</button>
			                    <br>
			                </div>
			            </div>
			        </div>
			        <div th:each="list : ${meetPointList}">
			        	<input type="text" name="bameStationName" id="bameStationName" th:value="${list.bameStationName}">
<!-- 			        	<input type="text" name="" id="" th:value=""> -->
<!-- 			        	<input type="text" name="" id="" th:value=""> -->
<!-- 			        	<input type="text" name="" id="" th:value=""> -->
			        </div>
			        <div class="card mb-4">
						<div class="card-body p-4">
							<div id="map" style="width: 100%; height: 600px;"></div>
						</div>
					</div>
				</form>
		    </div>
		</section>
		<!-- gallery-area-end -->
<input type="text" id="midpointY" name="midpointY">
<input type="text" id="midpointX" name="midpointX">
<input type="text" id="stationInfo" name="stationInfo">
<div id="stationInfo">가장 가까운 지하철 역 정보가 여기에 표시됩니다.</div>
	</main>
	<!-- main-area-end -->
	<!-- footer -->
	<footer class="footer-bg footer-p" style="background-color: #40332E; background-image: url(/usr/v1/template/petxon/assets/img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
		<div class="copyright-wrap">
			<div class="container">
				<div class="row align-items-center c-mid">
					<div class="col-lg-4 col-md-6 ">
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms Of Service</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 ">
						<div class="copy-text text-center">Copyright &copy; Petxon
							2024. All rights reserved.</div>
					</div>
					<div class="col-lg-4 col-md-12 text-right text-xl-right">
						<div class="footer-social">
							<a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i
								class="fab fa-instagram"></i></a> <a href="#"><i
								class="fa-brands fa-x-twitter"></i></a> <a href="#"><i
								class="fab fa-youtube"></i></a> <a href="#"><i
								class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
	<!-- footer-end -->
	<!-- JS here -->
	<script
		src="/usr/v1/template/petxon/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/vendor/jquery.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/popper.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/bootstrap.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/slick.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/ajax-form.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/paroller.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/wow.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/js_isotope.pkgd.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/imagesloaded.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/parallax.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.waypoints.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.counterup.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.scrollUp.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.meanmenu.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/parallax-scroll.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/swiper.min.js"></script>

	<script
		src="/usr/v1/template/petxon/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/element-in-view.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/main.js"></script>

	<!-- Daum 우편번호 api -->
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
	<!-- KAKAO MAP API services 라이브러리 불러오기 -->
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4e7a4c61c5d2d5eec0befbefd5116181&libraries=services"></script>


	<script>
	    // 카카오 지도 객체 생성
	    var geocoder = new kakao.maps.services.Geocoder();
	
	    // Daum 우편번호 API
	    function sample6_execDaumPostcode(inputId) {
	        new daum.Postcode({
	            oncomplete: function(data) {
	                // 주소가 선택되었을 때
	                document.getElementById(inputId).value = data.address;
	            }
	        }).open();
	    }
	    

	
	    // 중간 장소 찾기 버튼 클릭 이벤트
	    document.getElementById('find-midpoint-btn').addEventListener('click', function() {
	        var address1 = document.getElementById('address1').value;
	        var address2 = document.getElementById('address2').value;
	
	        if (!address1 || !address2) {
	            alert('두 장소를 모두 입력해주세요.');
	            return;
	        }
	
	        console.log('출발지:', address1);
	        console.log('도착지:', address2);
	
	        // 주소 -> 위도, 경도로 변환
	        function geocodeAddress(address, callback) {
	            geocoder.addressSearch(address, function(result, status) {
	                if (status === kakao.maps.services.Status.OK) {
	                    callback(result[0].x, result[0].y); // 경도(x), 위도(y)
	                } else {
	                    alert("주소를 찾을 수 없습니다.");
	                }
	            });
	        }
	
	        // 두 주소의 좌표 구하기
	        geocodeAddress(address1, function(x1, y1) {
	            geocodeAddress(address2, function(x2, y2) {
	                // 중간 지점 계산
	                var midpointX = (parseFloat(x1) + parseFloat(x2)) / 2;
	                var midpointY = (parseFloat(y1) + parseFloat(y2)) / 2;
	
	                // 지도 생성
	                var mapContainer = document.getElementById('map'), 
	                    mapOption = { 
	                        center: new kakao.maps.LatLng(midpointY, midpointX), 
	                        level: 7
	                    }; 
	                var map = new kakao.maps.Map(mapContainer, mapOption);
	
	                // 마커와 텍스트 추가 함수
	                function addMarkerWithText(map, position, text) {
	                    // 마커 추가
	                    var marker = new kakao.maps.Marker({
	                        position: position,
	                        map: map
	                    });
	
	                    // 텍스트(정보창) 추가
	                    var infowindow = new kakao.maps.InfoWindow({
	                        position: position,
	                        content: `<div style="padding:5px; font-size:14px;">${text}</div>`
	                    });
	
	                    // 정보창 열기
	                    infowindow.open(map, marker);
	                }
	
	                // 출발지 마커와 텍스트 추가
	                var startPosition = new kakao.maps.LatLng(y1, x1);
	                addMarkerWithText(map, startPosition, "출발지");
	                console.log('출발지 좌표:', startPosition);
	                
	
	                // 도착지 마커와 텍스트 추가
	                var endPosition = new kakao.maps.LatLng(y2, x2);
	                addMarkerWithText(map, endPosition, "도착지");
	                console.log('도착지 좌표:', endPosition);
	
	                // 중간 지점 마커와 텍스트 추가
	                var midpointPosition = new kakao.maps.LatLng(midpointY, midpointX);
	                addMarkerWithText(map, midpointPosition, "중간 지점");
	                console.log('중간지점 좌표:', midpointPosition);
	                
	                document.getElementById("midpointX").value = midpointX;
	                document.getElementById("midpointY").value = midpointY;
	                
	                // ajax를 이용하여 midpointX와 midpointY를 mapper에 전달
	                $.ajax({
					    url: '/usr/v1/infra/baMeetPoint/baMeetPointProc', // 서버 API 엔드포인트
					    method: 'POST',
					    data: {
					    	midpointLongitude: midpointX,
					    	midpointLatitude: midpointY
					    },
					    success: function(response) {
					        console.log('중간 지점 좌표가 서버에 전달되었습니다:', response);
					        console.log('전송 데이터:', {
					            midpointLongitude: midpointX,
					            midpointLatitude: midpointY
					        });
					        
					     	// 성공적으로 받은 데이터로 HTML 업데이트
					        if (response.rt == "success") {
// 					        	 && response.stationName
					            document.getElementById('stationInfo').innerText =
					                `가장 가까운 지하철 역: ${response.stationName}`;
					            console.log("response.stationName : " + response.stationName);
					        }
					    },
					    error: function(error) {
					        console.error('가장 가까운 지하철 역 정보 조회 중 오류 발생:', error);
					    }
					});
	                
	                // 최종 목적지인 중간지점에서 가장 가까운 지하철역 위치 마커와 텍스트 추가
// 	                var finalmidpointPosition = new kakao.maps.LatLng(finalmidpointY, finalmidpointX);
// 	                addMarkerWithText(map, finalmidpointPosition, "최종장소");
// 	                console.log('최종장소 좌표:', finalmidpointPosition);             
	                
	                // 지도 중심을 중간 지점으로 설정
	                map.setCenter(midpointPosition);
	                // 지도 중심을 중간지점인 지하철역으로 설정
// 	                map.setCenter(finalmidpointPosition);
	            });
	        });
	    });
	</script>


</body>
</html>
