<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nongshim.infra.baPetprofile.BaPetprofileDao">

<resultMap type="com.nongshim.infra.baPetprofile.BaPetprofileDto" id="resultMapObj"></resultMap>
	<select id="PetSelectList" resultMap="resultMapObj">
   		SELECT
			d.bapeSeq,
			d.bapeName,
			d.bapeGender,
			d.bapeType,
			d.bapeAge,
			d.bapeWeight,
			d.bapeNtrNy,
			d.bapehospital,
			d.bapeDesc,
			d.bapeRegDate,
			d.bapeEditDate,
			d.bapeUseNy,
			d.bapeDelNy,
			d.BA_Member_bameSeq
		FROM
			ba_petprofile d
		ORDER BY
			bapeSeq desc
	</select>
	
	<select id="PetSelectOne" resultMap="resultMapObj">
   		SELECT
			d.bapeSeq,
		    d.bapeName,
		    d.bapeGender,
		    d.bapeType,
		    d.bapeAge,
		    d.bapeWeight,
		    d.bapeNtrNy,
		    d.bapehospital,
		    d.bapeDesc,
		    d.bapeRegDate,
		    d.bapeEditDate,
		    d.bapeUseNy,
		    d.bapeDelNy,
		    d.BA_Member_bameSeq,
		    c.bameSeq,
		    c.bameName
		FROM
			ba_petprofile AS d
		LEFT JOIN ba_member AS c
			ON c.bameSeq = d.BA_Member_bameSeq
		WHERE 1 = 1
			AND d.bapeSeq = #{bapeSeq}
	</select>
	
	<insert id="PetInsert">
		INSERT INTO ba_petprofile (
		    bapeName,
		    bapeGender,
		    bapeType,
		    bapeAge,
		    bapeWeight,
		    bapeNtrNy,
		    bapehospital,
		    bapeDesc,
		    bapeRegDate,
		    bapeEditDate,
		    bapeUseNy,
		    bapeDelNy,
		    BA_Member_bameSeq
		) VALUES (
			#{bapeName},
		    #{bapeGender},
		    #{bapeType},
		    #{bapeAge},
		    #{bapeWeight},
		    #{bapeNtrNy},
		    #{bapehospital},
		    #{bapeDesc},
		    now(),
		    now(),
		    #{bapeUseNy},
		    #{bapeDelNy},
		    #{BA_Member_bameSeq}
		)
	</insert>
	
	<update id="PetUpdate">
		UPDATE ba_petprofile AS d
		LEFT JOIN ba_member AS c
			ON c.bameSeq = d.BA_Member_bameSeq
		SET
			d.bapeName = #{bapeName},
		    d.bapeGender = #{bapeGender},
		    d.bapeType = #{bapeType},
		    d.bapeAge = #{bapeAge},
		    d.bapeWeight = #{bapeWeight},
		    d.bapeNtrNy = #{bapeNtrNy},
		    d.bapehospital = #{bapehospital},
		    d.bapeDesc = #{bapeDesc},
		    d.bapeEditDate = now(),
		    d.bapeUseNy  = #{bapeUseNy},
		    d.bapeDelNy = 0,
		    d.BA_Member_bameSeq = #{BA_Member_bameSeq},
		    c.bameSeq = #{bameSeq},
		    c.bameName = #{bameName}
		WHERE 1=1
			AND bapeSeq = #{bapeSeq}
	</update>
	
	<!-- 펫 시퀀스 넘기기 -->
	<select id="selectOnePet" resultMap="resultMapObj">
		SELECT
			d.bapeSeq,
			d.bapeName,
			d.bapeAge,
			d.bapeWeight
		FROM ba_petprofile AS d
			LEFT JOIN ba_member AS c
				ON d.ba_member_bameSeq = c.bameSeq
		WHERE 1 = 1
			AND bameSeq  = #{bameSeq}
	</select>

	<!-- 펫 시퀀스 넘기기 -->
	<select id="selectOnePetSeq" resultMap="resultMapObj">
		SELECT
			d.bapeSeq,
			d.bapeName,
			d.bapeAge,
			d.bapeWeight
		FROM ba_petprofile AS d
			LEFT JOIN ba_member AS c
				ON d.ba_member_bameSeq = c.bameSeq
		WHERE 1 = 1
			AND bameSeq  = #{bameSeq}
	</select>
	
</mapper>