<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nongshim.infra.baPlace.BaPlaceDao">

	<resultMap type="com.nongshim.infra.baPlace.BaPlaceDto" id="resultMapObj"></resultMap>

	<sql id="placeSelectCommon">
		FROM
			ba_place AS i
	</sql>
	
	<select id="placeSelectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="placeSelectCommon"/>
	</select>
	
	<!-- List 출력 -->
	<select id="placeSelectList" resultMap="resultMapObj">
		select aa.* from(
			SELECT 
				i.baplSeq,
		  		i.baplCity,
		  		i.baplType,
		  		i.baplDeType,
		  		i.baplName,
		  		i.baplAddr,
		  		i.baplTel,
		  		i.baplWeb,
		  		i.baplAvailPlace,
		  		i.baplRestrictions,
		  		i.baplFee,
		  		i.baplEtc,
		  		i.baplTime,
		  		i.baplOff, 
		  		i.baplParking,
		  		i.baplRegDate,
		  		i.baplEditDate,
		  		i.baplUseNy,
		  		i.baplDelNy,
		  		(select aa.fPath from ba_fileuploaded aa where 1=1 and aa.fRegIp = i.baplSeq and aa.fOrder = 1) as mainImg1
		  	<include refid="placeSelectCommon"/>
		  	ORDER BY
		  		i.baplSeq ASC
		) aa
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<!-- 장소추천 세부리스트 -->
	<select id="placeDetailList" resultMap="resultMapObj">
    	SELECT
	        i.baplSeq,
			i.baplCity,
			i.baplType,
			i.baplDeType,
			i.baplName,
			i.baplAddr,
			i.baplTel,
			i.baplWeb,
			i.baplAvailPlace,
			i.baplRestrictions,
			i.baplFee,
			i.baplEtc,
			i.baplTime,
			i.baplOff, 
			i.baplParking,
			i.baplRegDate,
			i.baplEditDate,
			i.baplUseNy,
			i.baplDelNy,
			j.bareType,
			j.bareStar,
			j.bareContents,
			j.bareId,
			j.bareRegDate,
		  	(select aa.fPath from ba_fileuploaded aa where 1=1 and aa.fRegIp = i.baplSeq and aa.fOrder = 1) as mainImg1
		FROM 
        	ba_place AS i 
      	LEFT JOIN ba_review AS j
        	ON j.ba_place_baplSeq = i.baplSeq
      	WHERE 1 = 1
        	AND i.baplSeq = #{baplSeq}
      	ORDER BY 
        	i.baplSeq ASC
   </select>
   
	<!-- review insert -->
   <insert id="PlaceReviewInsert">
   		INSERT INTO ba_review (
   			bareType,
   			bareStar,
   			bareContents,
   			bareId,
   			bareRegDate,
   			bareEditDate,
   			bareDelNy,
   			ba_place_baplSeq,
   			ba_booking_baboSeq
   		) VALUES (
   			#{bareType},
   			#{bareStar},
   			#{bareContents},
   			#{bareId},
   			now(),
   			now(),
   			0,
   			#{ba_place_baplSeq},
   			#{ba_booking_baboSeq}
   		)
   </insert>
   
   		<!-- 파일 업로드 -->
	<insert id="insertUploaded">
		INSERT INTO ba_fileuploaded (
			fType,
			fDefaultNy,
			fSort,
			fPath,
			fOriginalName,
			fUuidName,
			fExt,
			fSize,
			fDelNy,
			fPseq,
			fOrder,
			fRegIp,
			fRegSeq,
			fRegDeviceCd,
			fRegDateTime,
			fRegDateTimeSvr
		) VALUES (
			#{fType},
			#{fDefaultNy},
			#{fSort},
			#{fPath},
			#{fOriginalName},
			#{fUuidName},
			#{fExt},
			#{fSize},
			0,
			#{fPseq},
			#{fOrder},
			#{fRegIp},
			#{fRegSeq},
			#{fRegDeviceCd},
			#{fRegDateTime},
			#{fRegDateTimeSvr}
		)
	</insert>
   
	
	
</mapper>