<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nongshim.infra.baSitterList.BaUsrSitterDao">  

<resultMap type="com.nongshim.infra.baSitterList.BaUsrSitterDto" id="resultMapObj"></resultMap>
   <select id="selectList" resultMap="resultMapObj">
     SELECT aa.* FROM(
	   SELECT
		  e.basiSeq,
		  e.basiName,
		  e.basiId,
		  e.basiPw,
		  e.basiGender,
		  e.basiCareer,
		  e.basiDesc,
		  e.basiTel,
		  e.basiZipCode,
		  e.basiAddr,
		  e.basiAddrDetail,
		  e.basiEmail,
		  e.basiRegDate,
		  e.basiEditDate,
		  e.basiTosNy,
		  e.basiUseNy,
		  e.basiDelNy
		<include refid="selectCommon"/>  
		ORDER BY
		   e.basiSeq Asc
		) aa limit #{rowNumToShow} offset #{startRnumForMySql}   
	</select>
	<sql id="selectCommon">
		FROM
			bananas.ba_sitterlist e
		  WHERE 1=1
	</sql>
			
   <select id="selectOneCount">
	  	SELECT COUNT(*)
	  	<include refid="selectCommon"/>
   </select>
   
   <insert id="sitterInsert">
      INSERT INTO ba_sitterlist(
          basiName,
		  basiCareer,
		  basiDesc,
		  basiTel,
		  basiZipCode,
		  basiAddr,
		  basiAddrDetail,
		  basiEmail,
		  basiDelNy
	  )VALUES(
		#{basiName},
		#{basiCareer},
		#{basiDesc},
		#{basiTel},
		#{basiZipCode},
		#{basiAddr},
		#{basiAddrDetail},
		#{basiEmail},
		0
			)
   </insert>
   
   <select id="selectOne" resultMap="resultMapObj">
	  SELECT
	  	e.basiSeq,
		  e.basiName,
		  e.basiId,
		  e.basiPw,
		  e.basiGender,
		  e.basiCareer,
		  e.basiDesc,
		  e.basiTel,
		  e.basiZipCode,
		  e.basiAddr,
		  e.basiAddrDetail,
		  e.basiEmail,
		  e.basiRegDate,
		  e.basiEditDate,
		  e.basiTosNy,
		  e.basiUseNy,
		  e.basiDelNy
	  FROM
		bananas.ba_sitterlist e
	  WHERE 1=1
			AND	e.basiSeq = #{basiSeq}
	  </select>
	  <select id="reSelectList" resultMap="resultMapObj">
	    SELECT
	       j.bareSeq, 
	       j.bareType, 
	       j.bareStar, 
	       j.bareContents, 
	       j.bareRegDate, 
	       j.bareEditDate, 
	       j.bareDelNy
	   FROM
			bananas.ba_review j	
	   WHERE 1=1
			ORDER BY  
			j.bareSeq Asc    
	  </select>
	  
      <insert id="reInsert">
        INSERT INTO ba_review(
	       bareStar, 
	       bareContents, 
	       bareRegDate,
	       bareEditDate
	    )VALUES(
		  ifNull(#{bareStar},0),
		  #{bareContents},
		  now(),
		  now() )
      </insert>
      <select id="opSelectList" resultMap="resultMapObj">
	    SELECT
	      g.baopSeq,
	      g.baopType,
	      g.baopName,
	      g.baopPrice,
	      g.baopUseNy, 
	      g.baopDelNy
	    FROM
		  bananas.ba_option g
	    WHERE 1=1
		ORDER BY  
		  g.baopSeq Asc
	  </select> 
      
      <!-- 도영이 받아라 -->
      
</mapper>