<!doctype html>
<html class="no-js" lang="ko" xmlns:th="http://www.thymeleaf.org">


<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Petxon - Pet Care & Pet Shop HTML Template</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" type="image/x-icon" href="/usr/v1/template/petxon/assets/img/favicon.ico">
	<!-- Place favicon.ico in the root directory -->

	<!-- CSS here -->
	<link rel="stylesheet" href="/usr/v1/template/NailForest/assets/fonts/materialdesign/css/materialdesignicons.css">
	<link rel="stylesheet" href="/usr/v1/template/NailForest/assets/fonts/materialdesign/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/xdm/v1/css/datetimepicker/jquery.datetimepicker.min.css">
	
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/animate.min.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/fontawesome/css/all.min.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/fontawesome-pro/css/all.min.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/dripicons.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/slick.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/meanmenu.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/swiper.min.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/default.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/style.css">
	<link rel="stylesheet" href="/usr/v1/template/petxon/assets/css/responsive.css">
	
<!-- 	<link rel="stylesheet" href="/usr/v1/template/NailForest/assets/libs/bootstrap-icons/font/bootstrap-icons.css"> -->
<!-- 	<link rel="stylesheet" href="/usr/v1/template/NailForest/assets/libs/bootstrap-icons/font/index.html"> -->
	
	<link href="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet" />
	    <link href="/usr/v1/template/NailForest/assets/libs/animate.css/animate.min.css" rel="stylesheet">
	    <link href="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.css" rel="stylesheet">
	    <link href="/usr/v1/template/NailForest/assets/libs/uppy/dist/uppy.min.css" rel="stylesheet">
	    <link href="/usr/v1/template/NailForest/assets/libs/litepicker/dist/css/litepicker.css" rel="stylesheet">
	    <link href="/usr/v1/template/NailForest/assets/libs/simplebar/dist/simplebar.min.css" rel="stylesheet">
<!-- 	    <link href="/usr/v1/template/NailForest/assets/libs/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet"> -->
	
 	
</head>

	<style>
		/* 별점 컨테이너 */
		.rating {
			font-size: 30px;
			color: #d3d3d3;
			/* 비활성 별의 색 */
			cursor: pointer;
		}

		/* 별점 hover 시 스타일 */
		.rating .star:hover,
		.rating .star.hover {
			color: gold;
		}

		/* 선택된 별의 색 */
		.rating .star.selected {
			color: gold;
		}

		/* 평점 표시 부분 */
		#selectedRating {
			font-weight: bold;
		}
		/* shop_detail 페이지 메뉴 checkbox CSS start */
		/* 기본 스타일 */
		.custom-checkbox {
		    color: #6c757d;
		    background-color: #fff;
		    border: 2px solid #F69946; 
		    padding: 0px;
		    cursor: pointer;
		    display: flex;
		    flex-direction: column;
		    border-radius: 4px; /* 선택 사항: 모서리 둥글게 하기 */
		    transition: background-color 0.3s, border-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
		    box-sizing: border-box; /* padding과 border를 포함하여 전체 크기를 계산합니다 */
		}
		 
		.content {
		    padding: 10px;
		    border-radius: 4px; /* 선택 사항: 모서리 둥글게 하기 */
		}
		
		
		/* 체크박스 숨기기 */
		.custom-checkbox input[type="checkbox"] {
		    display: none;
		}
		
		/* 체크박스가 선택된 상태와 마우스 오버 상태에서 label 전체 스타일 변경 */
		.custom-checkbox:hover,
		.custom-checkbox input[type="checkbox"]:checked {
		    color: #000;
		    background-color: #ffdec1; /* 배경색을 label에 직접 적용 */
		    border-color: #13653f;
		    border: 2px solid #F69946;
		}
		
		/* 체크박스가 선택된 상태에서 .content 요소 스타일 */
		.custom-checkbox input[type="checkbox"]:checked ~ .content {
		    color: #000;
		    background-color: #ffdec1; /* 배경색을 label에 직접 적용 */
		    border-color: #13653f;
		    font-weight: bolder;
		}
		
		/* p 태그 스타일 - 내용 왼쪽 정렬 */
		.custom-checkbox .align-left {
		    text-align: left;
		    margin: 0;
		    display: flex;
		    flex-direction: column;
		}
		
		/* 가격과 버튼 그룹을 같은 라인에 배치 */
		.custom-checkbox .price-and-buttons {
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		    margin-bottom: 0; /* 불필요한 여백 제거 */
		}
		
		/* 가격 스타일 */
		.custom-checkbox .price {
		    text-align: left;
		    display: inline-block;
		    margin-right: auto;
		}
		
		/* 수량 조절 버튼 */
		.custom-checkbox .btn-group {
		    display: flex;
		    align-items: center;
		    gap: 5px;
		    margin-bottom: 0; /* 버튼 아래 불필요한 여백 제거 */
		}
		
		.sidebar-widget a{
			color:#fff;
		}
		
		.sidebar-widget .widget a:hover {
			padding-right:10px;
		}
		
		.sidebar-widget .widget a {
			font-size: 18px;
		}
		
		
		
	</style>

<body>
	<!--  Preloader  -->
	<div id="preloader">
		<div id="loading"> </div>
	</div>
	<!--  Preloader end  -->
	
	<!-- header -->
	<div th:replace="~{usr/v1/infra/common/header :: header}"></div>
	<!-- header-end -->
	
	<!-- offcanvas-area -->
	<div class="offcanvas-menu">
		<span class="menu-close"><i class="fas fa-times"></i></span>
		<form role="search" method="get" id="searchform" class="searchform"
			action="http://wordpress.zcube.in/xconsulta/">
			<input type="text" name="s" id="search" placeholder="Search" />
			<button><i class="fa fa-search"></i></button>
		</form>
		<div id="cssmenu3" class="menu-one-page-menu-container">
			<ul class="menu">
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="about.html">About Us</a>
				</li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="services.html">Services</a>
				</li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="pricing.html">Pricing </a>
				</li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="team.html">Team </a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="projects.html">Cases
						Study</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="blog.html">Blog</a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="contact.html">Contact</a>
				</li>
			</ul>
		</div>
		<div id="cssmenu2" class="menu-one-page-menu-container">
			<ul id="menu-one-page-menu-12" class="menu">
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12
							3456897</span></a></li>
				<li class="menu-item menu-item-type-custom menu-item-object-custom"><a
						href="#howitwork"><span>info@example.com</span></a></li>
			</ul>
		</div>
	</div>
	<div class="offcanvas-overly"></div>
	<!-- offcanvas-end -->
	<!-- main-area -->
	<main>
		<!-- search-popup -->
		<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
			<div class="modal-dialog modal-lg" role="document">
				<div class="modal-content search-popup">
					<div class="text-center">
						<a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
					</div>
					<div class="row search-outer">
						<div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
						<div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /search-popup -->
		<!-- breadcrumb-area -->
		<section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/usr/v1/template/petxon/assets/img/bg/bdrc-bg.jpg);">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-12 col-lg-12">
						<div class="breadcrumb-wrap text-left">
							<div class="breadcrumb-title">
								<h2>Blog Details</h2>
								<div class="breadcrumb-wrap">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item"><a href="index.html">Home</a></li>
											<li class="breadcrumb-item active" aria-current="page">Blog Details</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-area-end -->
		<!-- inner-blog -->
		<section class="inner-blog b-details-p pt-120 pb-120">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
						<div class="blog-details-wrap">
							<div class="details__content pb-30">
								<form name="form" id="form" method="post" autocomplete="off"
									enctype="multipart/form-data">

									<h2>Sitter Detail</h2>
									<!--<div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-eye"></i> 100 Views  </li>
                                            <li><i class="fal fa-comments"></i> 35 Comments</li>
                                            <li><i class="fal fa-calendar-alt"></i> 24th March 2019</li>
                                        </ul>
                                    </div>-->
									<!--<div class="details__content-img">
                                        <img src="img/blog/b_details01.jpg" alt="">
                                    </div>-->
									<figure>
										<img src="/usr/v1/template/petxon/assets/img/blog/b_details02.jpg" alt="">
										<h2>시터 한줄소개</h2>
										<p id="basiDesc" th:text="${item?.basiDesc}"></p>
									</figure>
									<div class="row">
									</div>
								</form>
							</div>
							<div class="posts_navigation pt-35 pb-60">
								<div class="row align-items-center">
									<h5>시터경력</h5>
									<p id="basiCareer" th:text="${item?.basiCareer}"></p>
								</div>
							</div>
							<div class="comment__wrap pb-45">
								<form name="form" method="post" action="/usr/v1/infra/baSitter/baUsrSitterDetails">
									<div class="comment__wrap-title">
										<h5 class="pt-30">Review</h5>
									</div>
									<div class="single__comment mb-35" th:each="relist:${relist}">
										<div class="comments-avatar">
											<img src="/usr/v1/template/petxon/assets/img/blog/comment/c_01.png" alt="">
										</div>
										<div class="comment-text">
											<div class="avatar-name mb-1">
												<!--<h6>ALina</h6>-->
												<span id="bareRegDate" name="bareRegDate"
													th:text="${#dates.format(relist.bareRegDate, 'yyyy-MM-dd HH:mm:ss')}"></span>
												<div class="rating" id="bareStar">
													<span th:each="i : ${#numbers.sequence(1, 5)}">
														<!-- 채워진 별(★) 표시 -->
														<span th:if="${i <= relist.bareStar}" style="color: gold;">&#9733;</span>
														<!-- 빈 별(☆) 표시 -->
														<span th:if="${i > relist.bareStar}" style="color: gray;">&#9734;</span>
													</span>
												</div>
											</div>
											<p id="bareContents" name="bareContents" th:text="${relist.bareContents}"></p>
										</div>
									</div>
								</form>
							</div>
							<div id="comments" class="comments-area  mt-45">
								<div id="respond" class="comment-respond">
									<h3 id="reply-title" class="comment-reply-title">리뷰를 남겨주세요 <small><a rel="nofollow"
												id="cancel-comment-reply-link" href="/finco/?p=2112#respond"
												style="display:none;">Cancel reply</a></small></h3>

									<!--<form action="http://wordpress.zcube.in/finco/wp-comments-post.php" method="post" id="commentform" class="comment-form" novalidate="">-->
									<form method="post" name="form" action="/usr/v1/infra/baSitter/baUsrReInst"
										class="comment-form" novalidate="">
										<div class="rating" id="bareStar">
											<span class="star" data-value="1" id="rating-1" th:attr="onclick=|starnum('1')|">&#9733;</span>
											<span class="star" data-value="2" id="rating-2" th:attr="onclick=|starnum('2')|">&#9733;</span>
											<span class="star" data-value="3" id="rating-3" th:attr="onclick=|starnum('3')|">&#9733;</span>
											<span class="star" data-value="4" id="rating-4" th:attr="onclick=|starnum('4')|">&#9733;</span>
											<span class="star" data-value="5" id="rating-5" th:attr="onclick=|starnum('5')|">&#9733;</span>
										</div>
										<div style="width: 300px; height: 50px;"></div>
										<!--<p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>-->
										<!--<p class="comment-field"><i class="fas fa-user"></i><input id="author"
												placeholder="Your Name" name="author" type="text"></p>
										<p class="comment-field"><i class="fas fa-envelope"></i><input id="email" placeholder="your-real-email@example.com" name="email" type="text"></p>-->
										<!--<p class="comment-field"><i class="fas fa-globe"></i><input id="url" name="url" placeholder="http://your-site-name.com" type="text"> </p>-->
										<p class="comment-form-comment"><label for="bareContents">Comment</label> <textarea
												id="bareContents" name="bareContents" cols="45" rows="8" maxlength="65525"
												required="required"></textarea></p>
										<button type="submit" class="btn btn-brown mt-25" data-animation="fadeInLeft" data-delay=".4s" id="btnRevSubmit"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon3.png" alt="logo">리뷰쓰기</button>
											<input type="hidden"
												name="comment_post_ID" value="2112" id="comment_post_ID">
											<input type="hidden" name="comment_parent" id="comment_parent" value="0">
										</p>
									</form>
								</div>
								<!-- #respond -->
							</div>
						</div>
					</div>
					<!-- #right side -->
					<div class="col-sm-12 col-md-12 col-lg-4">
						<aside class="sidebar-widget">
							<!-- <section id="search-3" class="widget widget_search">
                                 <h2 class="widget-title">Search</h2>
                                 <form role="search" method="get" class="search-form" action="http://wordpress.zcube.in/finco/">
                                    <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                    </label>
                                    <input type="submit" class="search-submit" value="Search" />
                                 </form>
                              </section>-->
							<section id="custom_html-5" class="widget_text widget widget_custom_html">
								<form name="form" id="form" method="post" autocomplete="off"
									enctype="multipart/form-data">
									<h2 class="widget-title" id="basiName" th:text="${item?.basiName}"></h2>
									<div class="textwidget custom-html-widget">
										<ul>
											<li>
												<div class="icon"><i class="fal fa-envelope"></i> <strong>Email</strong>
												</div>
												<div class="text" id="basiEmail" th:text="${item?.basiEmail}"></div>
											</li>
											<li>
												<div class="icon"><i class="fal fa-phone"></i> <strong>전화번호</strong>
												</div>
												<div class="text" id="basiTel" th:text="${item?.basiTel}"></div>
											</li>
											<li>
												<div class="icon"><i class="fal fa-map-marker-alt"></i><strong>주소</strong></div>
												<div class="text" id="basiAddr" th:text="${item?.basiAddr}"></div>
											</li>
										</ul>
									</div>
								</form>
							</section>
							<section id="tag_cloud-1" class="widget widget_tag_cloud">
							  <h2 class="widget-title">예약하기</h2>
								<!-- <div class="tagcloud">-->
								<!-- listing detail -->
								<div>
									<div>
									  <form name="form" id="form" method="post" action="/usr/v1/infra/baSitter/baUsrSitterInst">
										<div class="mb-3">
											<div class="input-group mb-3">
												<input type="text" class="form-control" id="boDate" name="boDate" placeholder="예약날짜" autocomplete="off" style="cursor: pointer;"> <span class="input-group-text bg-transparent"> <i class="mdi mdi-calendar-month-outline"></i></span>
											</div>
										   <input type="text" class="form-control" id="boTime" name="boTime" placeholder="예약시간"  style="cursor: pointer;" autocomplete="off">
										</div>
										<div class="mb-3">
											<label class="form-label">Option</label>
											<div th:each="oplist : ${oplist}">
												<div class="input-group mb-3">
													<label class="form-control custom-checkbox"> <input
															type="checkbox" id="checkbox1" name="checkbox"
															class="menu-checkbox" th:value="${oplist.baopPrice}"
															onchange="updateTotalPrice()">
														<div class="content">
															<p class="align-left">
																<span th:text="${oplist.baopName}">메뉴이름</span>
																<!--<span th:text="${oplist.meDesc}">메뉴설명</span>-->
															</p>
															<div class="price-and-buttons">
																<!-- <span class="price" th:text="${oplist.meTime}">소요시간</span>-->
																<span th:text="${oplist.baopPrice} + 원">가격</span>
															</div>
														</div>
													</label>
												</div>
											</div>
											<br>
											<!-- total -->
											<div class="mb-3">
											  <label class="form-label">Total</label>
												<div class="input-group mb-3">
													<p>
														<span>예약 날짜 : <span id="baboDate"></span></span> <br>
														<span>예약 시간 : <span id="baboTime"></span></span> <br>
														<!--<span>예약금 : <span id="boDeposit">30000</span>원-->
														</span> <br> <span>총금액 : <span id="baboTotalPrice">0</span>원
														</span>
													</p>
												</div>
											</div>
											<div class="mt-3 d-grid">
												<a href="" class="btn text-center"><img src="/usr/v1/template/petxon/assets/img/icon/btn-pet-icon.png" alt="logo">예약하기</a>
											</div>
										</form>   
									</div>
								</div>  
							</section>
						</aside>
					</div>
					<!-- #right side end -->
				</div>
			</div>
		</section>
		<!-- inner-blog-end -->
	</main>
	<!-- main-area-end -->
	<!-- footer -->
	<footer class="footer-bg footer-p"
		style="background-color: #40332E; background-image: url(/usr/v1/template/petxon/assets/img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
		<div class="footer-top  pt-120 pb-90">
			<div class="container">
				<div class="row justify-content-between">
					<div class="col-xl-3 col-lg-3 col-sm-6">
						<div class="footer-widget mb-30">
							<div class="f-widget-title">
								<h2>Working Hours</h2>
							</div>
							<div class="f-work-hour">
								<ul>
									<li><span>Mon - Fri:</span> <strong>7am - 6pm</strong></li>
									<li><span>Saturday:</span> <strong>9am - 4pm</strong></li>
									<li><span>Sunday:</span> <strong>Closed</strong></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-3 col-lg-3 col-sm-6">
						<div class="footer-widget mb-30">
							<div class="f-widget-title">
								<h2>Our Gallery</h2>
							</div>
							<div class="f-insta">
								<ul>
									<li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-01.png" alt="img"></a></li>
									<li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-02.png" alt="img"></a></li>
									<li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-03.png" alt="img"></a></li>
									<li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-04.png" alt="img"></a></li>
									<li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-05.png" alt="img"></a></li>
									<li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-06.png" alt="img"></a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-sm-6">
						<div class="footer-widget mb-30">
							<div class="f-widget-title">
								<h2>Essential</h2>
							</div>
							<div class="footer-link">
								<ul>
									<li><a href="index.html">About us</a></li>
									<li><a href="about.html"> Careers</a></li>
									<li><a href="services.html"> Prices </a></li>
									<li><a href="contact.html"> Services</a></li>
									<li><a href="blog.html">Get In Touch </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-sm-6">
						<div class="footer-widget mb-30">
							<div class="f-widget-title">
								<h2>More Pages</h2>
							</div>
							<div class="footer-link">
								<ul>
									<li><a href="index.html">Auto production</a></li>
									<li><a href="about.html"> Investors</a></li>
									<li><a href="services.html"> News </a></li>
									<li><a href="contact.html"> FAQ’s</a></li>
									<li><a href="blog.html">Contact us </a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-xl-2 col-lg-2 col-sm-6">
						<div class="footer-widget mb-30">
							<div class="f-widget-title">
								<h2> <img src="img/logo/f_logo.png" alt="img"></h2>
							</div>
							<div class="f-contact">
								<ul>
									<li>
										<h6>Call Us</h6>
										<span>+123 456 7890</span>
									</li>
									<li>
										<h6>Our Address</h6>
										<span>92 Bowery St, New York, NY</span>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="copyright-wrap">
			<div class="container">
				<div class="row align-items-center c-mid">
					<div class="col-lg-4 col-md-6 ">
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms Of Service</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 ">
						<div class="copy-text text-center">
							Copyright &copy; Petxon 2024. All rights reserved.
						</div>
					</div>
					<div class="col-lg-4 col-md-12 text-right text-xl-right">
						<div class="footer-social">
							<a href="#"><i class="fab fa-facebook-f"></i></a>
							<a href="#"><i class="fab fa-instagram"></i></a>
							<a href="#"><i class="fa-brands fa-x-twitter"></i></a>
							<a href="#"><i class="fab fa-youtube"></i></a>
							<a href="#"><i class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<!-- footer-end -->
	<!-- JS here -->
	<script>
			
		   var bareStar = 0;

		   starnum = function(num) {
		 		bareStar = num;
		   }		
		   
		   document.getElementById("btnRevSubmit").onclick=function(){
		            var bareContents = document.getElementById('bareInput').value;
					alert(bareContents);
					     
		            if (bareStar == 0) {
		               alert("별점을 매겨주세요.");
		               return false;
		            }else if(bareContents == ""){
						alert("리뷰내용을 등록해야합니다.");
						return false;		
					}
					
		            $.ajax({
		                     async: true 
		                     ,cache: false
		                     ,type: "post"
		                     /* ,dataType:"json" */
		                     ,url: "/usr/v1/infra/baSitter/baUsrReInst"
		                     /* ,data : $("#formLogin").serialize() */
		                     
		                     ,data : { "bareContents" : bareContents,
		                             "bareStar" : bareStar
		                     }
		                     ,success: function(response) {
		                        alert("리뷰등록 완료");
		                     }
		                  });      
		               
		           }   
		         
		   </script>
		<script>
			const stars = document.querySelectorAll('.star');
			const selectedRatingDisplay = document.getElementById('selectedRating');

			// 별점 선택 시 동작하는 이벤트 핸들러
			stars.forEach(star => {
				star.addEventListener('mouseover', function () {
					const value = this.getAttribute('data-value');
					updateStars(value);
				});
				star.addEventListener('mouseout', function () {
					const value = document.querySelector('.star.selected')
						? document.querySelector('.star.selected').getAttribute('data-value')
						: 0;
					updateStars(value);
				});
				star.addEventListener('click', function () {
					const value = this.getAttribute('data-value');
					setRating(value);
				});
			});

			// 별점 업데이트 함수
			function updateStars(rating) {
				stars.forEach(star => {
					if (star.getAttribute('data-value') <= rating) {
						star.classList.add('hover');
					} else {
						star.classList.remove('hover');
					}
				});
			}

			// 별점 선택 후 저장 함수
			function setRating(rating) {
				stars.forEach(star => {
					if (star.getAttribute('data-value') <= rating) {
						star.classList.add('selected');
					} else {
						star.classList.remove('selected');
					}
				});
				selectedRatingDisplay.textContent = rating;  // 선택한 평점 표시
			}
		</script>

		<script>
			// 예약 날짜,시간 검색 - datetimepicker
			window.addEventListener('load', function () {
				$.datetimepicker.setLocale('ko');
				// 날짜 선택 필드 초기화
				$("#boDate").datetimepicker({
					timepicker: false,    // 시간 선택 비활성화
					format: 'Y-m-d'      // 날짜 형식
				}).on('change', function () {
					// 날짜 선택 시 rvDate에 값 반영
					const selectedDate = $(this).val();
					$('#baboDate').text(selectedDate);
				});
				// 시간 선택 필드 초기화
				$("#boTime").datetimepicker({
					datepicker: false,    // 날짜 선택 비활성화
					timepicker: true,     // 시간 선택 활성화
					format: 'H:i',        // 시간 형식 (24시간제)
					step: 30              // 30분 단위
				}).on('change', function () {
					// 시간 선택 시 rvTime에 값 반영
					const selectedTime = $(this).val();
					$('#baboTime').text(selectedTime);
				});
			});
			// 메뉴 가격 합산
			function updateTotalPrice() {
				let total = 0;
				// 선택된 체크박스들의 값을 합산
				document.querySelectorAll('.menu-checkbox:checked').forEach(checkbox => {
					total += parseInt(checkbox.value || 0); // 체크박스의 value를 숫자로 변환하여 더함
				});
				// 총 금액을 boTotalPrice에 표시
				document.getElementById('baboTotalPrice').textContent = total.toLocaleString(); // 숫자 형식화 (콤마 추가)
			}
		</script>

	<script src="/usr/v1/js/fullcalendar/dist/index.global.min.js"></script>
	<script src="/usr/v1/js/fullcalendar/dist/index.global.js"></script>
	<script src="/usr/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	<script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/vendor/jquery.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/popper.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/bootstrap.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/slick.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/ajax-form.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/paroller.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/wow.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/js_isotope.pkgd.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/imagesloaded.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/parallax.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.waypoints.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.counterup.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.scrollUp.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.meanmenu.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/parallax-scroll.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/swiper.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/element-in-view.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/main.js"></script>
	<script src="/xdm/v1/jquery/jquery-3.7.1.min.js"></script>
	<script src="/usr/v1/template/NailForest/assets/libs/bootstrap-icons/font/bootstrap-icons.json"></script>
	
	<script src="/usr/v1/template/NailForest/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.full.min.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/jquery-raty-js/lib/jquery.raty.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/litepicker/dist/litepicker.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/prismjs/prism.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/leaflet/dist/leaflet.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/usr/v1/template/NailForest/assets/libs/nouislider/dist/nouislider.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
	    <!-- Theme JS -->
	<script src="/usr/v1/template/NailForest/assets/js/theme.min.js"></script>
    <script src="/xdm/v1/js/datetimepicker/jquery.datetimepicker.full.min.js"></script>

</body>

</html>