<!doctype html>
<html class="no-js" lang="zxx">
	<!-- 내 예약기능 어디갔어!!!! -->
<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- Head end -->

    <body>
         <!--  Preloader  -->
            <div id="preloader">
                <div id="loading"> </div>
            </div>
            <!--  Preloader end  -->
        <!-- ======= Header ======= -->
        <div th:replace="~{usr/v1/infra/common/header :: header}"></div>
        <!-- header-end -->
       
		<!-- ======= offcanvas_menu ======= -->
		<div th:replace="~{usr/v1/infra/common/offcanvas_menu :: div}"></div>
		<!-- offcanvas_menu end -->
		
        <!-- main-area -->
        <main>
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/usr/v1/template/petxon/assets/img/bg/bdrc-bg.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>결제하기 payment 페이지</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
            <!-- contact-area-end -->
                <!-- contact-area -->
            <section class="contact-home-area pt-120 pb-120 p-relative fix" style="background-color: #F3F3F3;"> 
                <div class="animations-01"><img src="/usr/v1/template/petxon/assets/img/bg/communication.png" alt="an-img-01"></div>
                <div class="container">
                    <div class="row" margin=" 0 auto;">       
					    <div class="col-lg-8 col-xl-8">
                            <div class="contact-bg02 contact-bg-gry">
	                            <div class="section-title mb-20 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">                             
	                                <h2>결제 하기</h2>  
	                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
        <!-- main-area-end -->
        <!-- footer -->
        <footer class="footer-bg footer-p" style="background-color: #40332E; background-image: url(/usr/v1/template/petxon/assets/img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
            <div class="footer-top  pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-between">
                        
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">  
                                 <div class="f-widget-title">
                                    <h2>Working Hours</h2>
                                </div>
                                <div class="f-work-hour">
                                    <ul>
                                        <li><span>Mon - Fri:</span> <strong>7am - 6pm</strong></li>
                                        <li><span>Saturday:</span> <strong>9am - 4pm</strong></li>
                                        <li><span>Sunday:</span> <strong>Closed</strong></li>
                                    </ul>
                                </div>                                 
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-04.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-05.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-06.png" alt="img"></a></li>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Essential</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">About us</a></li>
                                        <li><a href="about.html"> Careers</a></li>
                                        <li><a href="services.html"> Prices </a></li>
                                        <li><a href="contact.html"> Services</a></li>
                                        <li><a href="blog.html">Get In Touch </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>More Pages</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">Auto production</a></li>
                                        <li><a href="about.html"> Investors</a></li>
                                        <li><a href="services.html"> News </a></li>
                                        <li><a href="contact.html"> FAQ’s</a></li>
                                        <li><a href="blog.html">Contact us </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                             <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                   <h2> <img src="img/logo/f_logo.png" alt="img"></h2>
                                </div>
                                  <div class="f-contact">
                                   <ul>
                                      <li>
                                        <h6>Call Us</h6>
                                         <span>+123 456 7890</span>
                                      </li>
                                      <li>
                                        <h6>Our Address</h6>
                                         <span>92 Bowery St, New York, NY</span>
                                      </li>
                                   </ul>
                                </div>
                             </div>
                          </div>                       
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center c-mid">                        
                         <div class="col-lg-4 col-md-6 ">
                               <ul>
                                    <li><a href="#">Privacy Policy</a></li>    
                                    <li><a href="#">Terms Of Service</a></li>
                                </ul>
                            </div>
                         <div class="col-lg-4 col-md-6 ">
                          <div class="copy-text text-center">
                                 Copyright &copy; Petxon 2024. All rights reserved.       
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 text-right text-xl-right">
                            <div class="footer-social">                                    
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>    
                        </div>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
        <script>
            function sample6_execDaumPostcode() {
            new daum.Postcode({
            oncomplete: function(data) {
            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

            // 각 주소의 노출 규칙에 따라 주소를 조합한다.
            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
            var addr = ''; // 주소 변수
            var extraAddr = ''; // 참고항목 변수

            //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
            if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                addr = data.roadAddress;
            } else { // 사용자가 지번 주소를 선택했을 경우(J)
                addr = data.jibunAddress;
            }

            // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
            if(data.userSelectedType === 'R'){
                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                    extraAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if(data.buildingName !== '' && data.apartment === 'Y'){
                    extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if(extraAddr !== ''){
                    extraAddr = ' (' + extraAddr + ')';
                }
               // document.getElementById("sample6_extraAddress").value = extraAddr;
            } else {
                //document.getElementById("sample6_extraAddress").value = '';
            }
            document.getElementById('basiZipCode').value = data.zonecode;
            document.getElementById("basiAddr").value = addr;
            // 커서를 상세주소 필드로 이동한다.
            document.getElementById("basiAddrDetail").focus();
        }
    }).open();
}
        </script>
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/vendor/jquery.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/popper.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/bootstrap.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/slick.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/ajax-form.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/paroller.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/wow.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/imagesloaded.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/parallax.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.waypoints.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.counterup.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/parallax-scroll.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/swiper.min.js"></script>
        
        <script src="/usr/v1/template/petxon/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/element-in-view.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/main.js"></script>
    </body>
</html>