<!doctype html>
<html class="no-js" lang="zxx">
	<!-- ======= Head ======= -->
		<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
		<!-- head-end -->
    <body>
		<!--  Preloader  -->
		  <div id="preloader">
		     <div id="loading"> </div>
		  </div>
		<!--  Preloader end  -->
		
         <!-- ======= Header ======= -->
        <div th:replace="~{usr/v1/infra/common/header :: header}"></div>
        <!-- header-end -->
		
		<!-- ======= offcanvas_menu ======= -->
		<div th:replace="~{usr/v1/infra/common/offcanvas_menu :: div}"></div>
		<!-- offcanvas_menu end -->
		
        <!-- main-area -->
        <main>
            <!-- breadcrumb-area-end -->
			<!-- shop-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/usr/v1/template/petxon/assets/img/backgroundimg/dogBg06.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>시터 찾기</h2>    
                                    <div class="breadcrumb-wrap">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Sitter</li>
                                        </ol>
                                    </nav>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
             <!-- Project Detail -->
            <section class="team-area-content" >
                <div class="container">
                    <!-- Lower Content -->
                    <div class="lower-content">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                            <h3 class="mt-20 mb-30">시터를 선택해 주세요</h3>
                            </div>
                            <!--<div class="col-lg-6 col-sm-6 text-right">
                                <select name="orderby" class="orderby" aria-label="Shop order">
                                    <option value="menu_order" selected="selected">Default sorting</option>
                                    <option value="popularity">Sort by popularity</option>
                                    <option value="rating">Sort by average rating</option>
                                    <option value="date">Sort by latest</option>
                                    <option value="price">Sort by price: low to high</option>
                                    <option value="price-desc">Sort by price: high to low</option>
                                </select>
                            </div>-->
                        </div>
                        <div class="row">
                             <div class="col-lg-4 col-md-12 col-sm-12" th:each="list:${list}">
								<form name="form" method="post" action="/usr/v1/infra/baSitter/baUsrSitterList">	
								<input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1" id="thisPageInfo" /> 
								<input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}" />
                                <div class="product__img">
                                    <a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list?.basiSeq})}"><img src="/usr/v1/template/petxon/assets/img/sitterPictures/sitterWoman03.jpg" alt=""></a>
                                    <div class="product-action text-center">
                                        <a href="shop-details.html"></a>
                                    </div>
                                </div>
                                  <div class="per-info">
                                    <h4><a th:text="${list.basiName}" th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}"></a></h4> 
                                        <ul>
                                            <li>
                                                <div class="icon"><a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}"><i class="fal fa-envelope"></i><strong>Email</strong></a></div>
                                                <div class="text"><a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}" th:text="${list.basiEmail}"></a></div>
                                            </li>    
                                            <li>
                                                <div class="icon"><a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}"><i class="fal fa-phone"></i><strong>전화번호</strong></a></div>
                                                <div class="text"><a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}" th:text="${list.basiTel}"></a></div>
                                            </li>    
                                            <li>
                                                <div class="icon"><a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}"><i class="fal fa-map-marker-alt"></i><strong>주소</strong></a></div>
                                                <div class="text"><a th:href="@{/usr/v1/infra/baSitter/baUsrSitterDetails(basiSeq=${list.basiSeq})}" th:text="${list.basiAddr}"></a></div>
                                            </li>      
                                        </ul>     
                                 </div>
								 
								</form>
                            </div>
                            <div class="col-lg-4 col-md-12 col-sm-12">
                                <!--<div class="product__img">
                                    <a href="shop-details.html"><img src="/usr/v1/template/petxon/assets/img/shop/img5.jpg" alt=""></a>
                                    <div class="product-action text-center">
                                        <a href="shop-details.html">Add Cart</a>
                                    </div>
                                </div>-->
                                 <!--<div class="per-info">
                                   <h4>김혜원</h4> 
                                       <ul>
                                           <li>
                                               <div class="icon"><i class="fal fa-envelope"></i><strong>Email</strong></div>
                                               <div class="text">info@webexample.com</div>
                                           </li>    
                                           <li>
                                               <div class="icon"><i class="fal fa-phone"></i><strong>전화번호</strong></div>
                                               <div class="text">980-786-098-09</div>
                                           </li>    
                                           <li>
                                               <div class="icon"><i class="fal fa-map-marker-alt"></i><strong>주소</strong></div>
                                               <div class="text">서울 도봉구</div>
                                           </li>      
                                       </ul>     
                                </div>-->
                           </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="pagination-wrap mt-50 text-center">
                                <nav>
									<ul class="pagination justify-content-center">
										<li class="page-item disabled"
											th:if="${vo.startPage gt vo.pageNumToShow}"
											style="cursor: pointer;">
											<a class="page-link" aria-label="Previous"
												href="javascript:goList(${vo.startPage - 1})"
												th:attr="onclick=|goList('${vo.startPage - 1}')|">
												<span aria-hidden="true">&laquo;</span>
											</a>
										</li>
										<li class="page-item"
											th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}"
											th:classappend="${num eq vo.thisPage} ? active : ''"
											style="cursor: pointer;">
											<a class="page-link" th:attr="onclick=|goList('${num}')|"
												th:text="${num}"></a>
										</li>
										<li class="page-item" th:if="${vo.endPage ne vo.totalPages}"
											style="cursor: pointer;">
											<a class="page-link" aria-label="Next"
												th:attr="onclick=|goList('${vo.endPage + 1}')|">
												<span aria-hidden="true">&raquo;</span>
											</a>
										</li>
									</ul>
                                </nav>
                            </div>
                       </div>
                    <div>
                </div>
            </section>
        </main>
        <!-- main-area-end -->
        <!-- footer -->
        <footer class="footer-bg footer-p" style="background-color: #40332E; background-image: url(/usr/v1/template/petxon/assets/img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
            <div class="footer-top  pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-between">
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">  
                                 <div class="f-widget-title">
                                    <h2>Working Hours</h2>
                                </div>
                                <div class="f-work-hour">
                                    <ul>
                                        <li><span>Mon - Fri:</span> <strong>7am - 6pm</strong></li>
                                        <li><span>Saturday:</span> <strong>9am - 4pm</strong></li>
                                        <li><span>Sunday:</span> <strong>Closed</strong></li>
                                    </ul>
                                </div>                                 
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-01.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-04.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-05.png" alt="img"></a></li>
                                        <li><a href="#"><img src="/usr/v1/template/petxon/assets/img/instagram/f-galler-06.png" alt="img"></a></li>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Essential</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">About us</a></li>
                                        <li><a href="about.html"> Careers</a></li>
                                        <li><a href="services.html"> Prices </a></li>
                                        <li><a href="contact.html"> Services</a></li>
                                        <li><a href="blog.html">Get In Touch </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>More Pages</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">Auto production</a></li>
                                        <li><a href="about.html"> Investors</a></li>
                                        <li><a href="services.html"> News </a></li>
                                        <li><a href="contact.html"> FAQ’s</a></li>
                                        <li><a href="blog.html">Contact us </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                             <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                   <h2> <img src="/usr/v1/template/petxon/assets/img/logo/f_logo.png" alt="img"></h2>
                                </div>
                                  <div class="f-contact">
                                   <ul>
                                      <li>
                                        <h6>Call Us</h6>
                                         <span>+123 456 7890</span>
                                      </li>
                                      <li>
                                        <h6>Our Address</h6>
                                         <span>92 Bowery St, New York, NY</span>
                                      </li>
                                   </ul>
                                </div>
                             </div>
                          </div>                       
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center c-mid">                        
                         <div class="col-lg-4 col-md-6 ">
                               <ul>
                                    <li><a href="#">Privacy Policy</a></li>    
                                    <li><a href="#">Terms Of Service</a></li>
                                </ul>
                            </div>
                         <div class="col-lg-4 col-md-6 ">
                          <div class="copy-text text-center">
                                 Copyright &copy; Petxon 2024. All rights reserved.       
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 text-right text-xl-right">
                            <div class="footer-social">                                    
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
		
		<script type="text/javascript">
			goList = function (thisPage) {
				document.querySelector("input[name=thisPage]").value = thisPage;
				document.querySelector("form[name=form]").action = "/usr/v1/infra/baSitter/baUsrSitterList";
				document.querySelector("form[name=form]").submit();
			}
			document.getElementById("changeRowNum").onchange = function () {
				document.getElementById("rowNumToShow").value = document.getElementById("changeRowNum").value;
				
				form.action = "/usr/v1/infra/baSitter/baUsrSitterList";
				form.submit();
			}
		</script>
		
        <script src="/usr/v1/template/petxon/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/vendor/jquery.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/popper.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/bootstrap.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/slick.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/ajax-form.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/paroller.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/wow.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/imagesloaded.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/parallax.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.waypoints.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.counterup.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/parallax-scroll.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/element-in-view.js"></script>
        <script src="/usr/v1/template/petxon/assets/js/main.js"></script>
    </body>
</html>