<!doctype html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<!-- ======= Head ======= -->
<div th:replace="~{usr/v1/infra/common/head :: head}"></div>
<!-- head-end -->
<body>

	<!-- Theme CSS -->
<!--     <link rel="stylesheet" href="/usr/v1/template/NailForest/assets/css/theme.min.css">	 -->

	<!-- ======= Header ======= -->
	<div th:replace="~{usr/v1/infra/common/header :: header}"></div>
	<!-- header-end -->

	<!-- ======= offcanvas_menu ======= -->
	<div th:replace="~{usr/v1/infra/common/offcanvas_menu :: div}"></div>
	<!-- offcanvas_menu end -->

	<!-- main-area -->
	<main>
		<!-- breadcrumb-area -->
		<section class="breadcrumb-area d-flex align-items-center"
			style="background-image: url(/usr/v1/template/petxon/assets/img/backgroundimg/dogBg11.jpg)">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-xl-12 col-lg-12">
						<div class="breadcrumb-wrap text-left">
							<div class="breadcrumb-title">
								<h2>돌봄 예약 및 결제</h2>
								<div class="breadcrumb-wrap">
									<nav aria-label="breadcrumb">
										<ol class="breadcrumb">
											<li class="breadcrumb-item active" aria-current="page">Home</li>
											<li class="breadcrumb-item active" aria-current="page">돌봄
												예약</li>
											<li class="breadcrumb-item active" aria-current="page">예약
												및 결제</li>
										</ol>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- breadcrumb-area-end -->

		<!-- shop-area -->
		<section class="shop-area pt-120 pb-120 p-relative "
			data-animation="fadeInUp animated" data-delay=".2s">
			<div class="py-11 py-7">
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-8 col-md-12 col-12">
						<div class="card checkout-form">
							<div class="card-body p-5">
								<h4 class="mb-4 border-bottom pb-2">예약 정보</h4>
								<!-- form -->
								<form class="row" name="form" method="post" action="/usr/v1/infra/baSitter/baUsrPaymentUpt">
									<!-- booking테이블의 boSeq 정보 bookingUpdate에 넘겨주기 -->
									<input type="hidden" name="baboSeq" th:value="${bookingItem?.baboSeq}">
									<!-- name -->
									<div class="mb-3 col-md-6">
										<label for="fname" class="form-label"> 
											예약자 이름 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="bameName" name=""bameName"" th:value="${bookingItem?.bameName}" style="background-color: #fff;" readonly>
									</div>
									<!-- phone -->
									<div class="mb-3 col-md-6">
										<label for=text class="form-label"> 
											반려동물 이름
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="bapeName" name="bapeName" th:value="${bookingItem?.bapeName}" style="background-color: #fff;" readonly>
									</div>
									<!-- 예약날짜 -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											예약날짜
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="baboDate" name="baboDate" th:value="${#dates.format(bookingItem?.baboDate, 'yyyy-MM-dd')}" style="background-color: #fff;" readonly>
									</div>
									<!-- 예약시간 -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											예약시간
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="baboTime" name="baboTime" th:value="${#dates.format(bookingItem?.baboTime, 'HH:mm')}" style="background-color: #fff;" readonly>
									</div>
									<!-- ShopName -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											시터 이름 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="basiName" name="basiName" th:value="${bookingItem?.basiName}" style="background-color: #fff;" readonly>
									</div>
									<!-- ShopAddr -->
									<div class="mb-3 col-md-6">
										<label class="form-label"> 
											돌봄 장소 
											<span class="text-danger">*</span>
										</label> 
										<input type="text" class="form-control" id="baboLocation" name="baboLocation" th:value="${bookingItem?.baboLocation}" style="background-color: #fff;" readonly>
									</div>
									
									<!-- 여백 추가 -->
									<div class="w-100 my-3"></div>
									
									<!-- 선택한 메뉴 -->
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">선택한 메뉴</h4>
									</div>
									<div class="mb-3 col-md-6">
										<div th:each="list : ${optionList}">
									        <div class="d-flex justify-content-between">
									            <span th:text="${list.baopName}"></span>
									            <p>
										            <span th:text="${#numbers.formatInteger(list.baopPrice, 0, 'COMMA')}"></span>
										            원
									            </p>
									        </div>
									    </div>
									</div>
									
									<!-- 여백 추가 -->
									<div class="w-100 my-3"></div>
									
									<!-- payment details -->
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">결제 정보</h4>
									</div>
									<div class="col-md-12">
										<div class="d-flex flex-wrap mb-4">
											<!-- payment -->
											<div class="mb-3 col-md-6">
												<label for="text" class="form-label"> 
													결제수단 선택
													<span class="text-danger">*</span>
												</label> <br>
												<input type="radio" name="baboPayment" value="11"> 카카오페이
												<img src="/usr/v1/template/petxon/assets/img/payment-icon/kakaopay-icon.png" style="height: 20px; width: 48px;">
												<br>
												<input type="radio" name="baboPayment" value="12"> 신용카드/체크카드
												<img src="/usr/v1/template/petxon/assets/img/payment-icon/visa-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/petxon/assets/img/payment-icon/mastercard-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/petxon/assets/img/payment-icon/unionpay-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/petxon/assets/img/payment-icon/jcb-icon.png" style="height: 30px; width: 30px;">
						                        <img src="/usr/v1/template/petxon/assets/img/payment-icon/american-icon.png" style="height: 30px; width: 30px;">
												<br>
												<input type="radio" name="baboPayment" value="13"> 무통장입금
												<br>
											</div>
										</div>
									</div>
									<div class="col-md-12">
										<h4 class="mb-4 border-bottom pb-2">결제 금액</h4>
									</div>
									<!-- meta -->
									<div class="col-md-12">
										<div class="d-flex justify-content-between align-items-center">
											<div>
												<p class="mb-1 text-lg text-dark">
													<h3 name="baboTotalPrice" id="baboTotalPrice" th:text="${#numbers.formatInteger(bookingItem?.baboTotalPrice, 0, 'COMMA') + ' 원'}"></h3>
												</p>
											</div>
											<div>
												<button class="btn btn-primary" type="submit" id="btnSubmit">
													결제 하기
												</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</section>
		<!-- shop-area-end -->
	</main>
	<!-- main-area-end -->
	<!-- footer -->
	<footer class="footer-bg footer-p"
		style="background-color: #40332E; background-image: url(/usr/v1/template/petxon/assets/img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
		<div class="copyright-wrap">
			<div class="container">
				<div class="row align-items-center c-mid">
					<div class="col-lg-4 col-md-6 ">
						<ul>
							<li><a href="#">Privacy Policy</a></li>
							<li><a href="#">Terms Of Service</a></li>
						</ul>
					</div>
					<div class="col-lg-4 col-md-6 ">
						<div class="copy-text text-center">Copyright &copy; Petxon
							2024. All rights reserved.</div>
					</div>
					<div class="col-lg-4 col-md-12 text-right text-xl-right">
						<div class="footer-social">
							<a href="#"><i class="fab fa-facebook-f"></i></a> <a href="#"><i
								class="fab fa-instagram"></i></a> <a href="#"><i
								class="fa-brands fa-x-twitter"></i></a> <a href="#"><i
								class="fab fa-youtube"></i></a> <a href="#"><i
								class="fab fa-linkedin"></i></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>
	<!-- footer-end -->
	<!-- JS here -->
	<script
		src="/usr/v1/template/petxon/assets/js/vendor/modernizr-3.5.0.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/vendor/jquery.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/popper.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/bootstrap.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/slick.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/ajax-form.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/paroller.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/wow.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/js_isotope.pkgd.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/imagesloaded.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/parallax.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.waypoints.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.counterup.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.scrollUp.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/jquery.meanmenu.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/parallax-scroll.js"></script>
	<script
		src="/usr/v1/template/petxon/assets/js/jquery.magnific-popup.min.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/element-in-view.js"></script>
	<script src="/usr/v1/template/petxon/assets/js/main.js"></script>

	<script type="text/javascript">
		document.getElementById("btnSubmit").onclick = function(){
			form.action = "/usr/v1/infra/baSitter/baUsrPaymentUpt";
			form.submit();
		}
	</script>
</body>
</html>