<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Petxon - Pet Care & Pet Shop HTML Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
        <link rel="stylesheet" href="fontawesome/css/all.min.css">
        <link rel="stylesheet" href="fontawesome-pro/css/all.min.css">
        <link rel="stylesheet" href="css/dripicons.css">
        <link rel="stylesheet" href="css/slick.css">
        <link rel="stylesheet" href="css/meanmenu.css">        
        <link rel="stylesheet" href="css/swiper.min.css">
        <link rel="stylesheet" href="css/default.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/responsive.css">
    </head>
    <body>
         <!--  Preloader  -->
            <div id="preloader">
                <div id="loading"> </div>
            </div>
            <!--  Preloader end  -->
        <!-- header -->
        <header class="header-area header-three">
            <div class="header-mid d-none d-md-block pt-25 pb-25">
                <div class="container">
                    <div class="row align-items-center">      
                         <div class="col-lg-6 col-md-6 d-none d-md-block">
                            <div class="header-cta">
                                <ul>
                                    <li>
                                      <div class="call-box">
                                         <div class="icon">
                                          <i class="fa-light fa-envelope"></i>
                                         </div>
                                         <div class="text">                                            
                                            <strong><a href="mailto:info@example.com"> info@example.com  </a></strong>                                               
                                         </div>
                                      </div>
                                   </li>  
                                   <li>
                                      <div class="call-box">
                                         <div class="icon">
                                           <i class="fa-light fa-mobile"></i>
                                         </div>
                                         <div class="text">                                            
                                            <strong><a href="tel:+917052101786">+91 7052 101 786</a></strong>                                              
                                         </div>
                                      </div>
                                   </li>
                                   
                                </ul>
                             </div>
                        </div>
                         <div class="col-lg-6 col-md-6 text-right d-none d-md-block">
                            <div class="header-social">                                    
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>                                
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>		
			  <div id="header-sticky" class="menu-area">
                <div class="container">
                    <div class="second-menu">
                        <div class="row align-items-center">
                        <div class="col-lg-2 col-md-12">
                            <div class="logo">
                                <a href="index.html"><img src="img/logo/logo.png" alt="logo"></a>
                            </div>
                        </div>
                           <div class="col-xl-7 col-lg-7">
                              
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                        <ul>
                                            <li class="has-sub">
												<a href="index.html">Home</a>
												<ul>
                                                    <li><a href="index.html">Home Page 01</a></li>
                                                    <li><a href="index-2.html">Home Page 02</a></li>
												</ul>
											</li>                                           
                                             <li class="has-sub"> 
                                              <a href="services.html">Services</a>
                                                <ul>
                                                     <li><a href="services.html">Services</a></li>
                                                    <li><a href="single-service.html">Services Details</a></li>
												</ul>
                                            </li>
                                             <li><a href="projects.html">Case Study</a></li>
                                            <li class="has-sub"><a href="#">Pages</a>
												<ul>
                                                     <li><a href="about.html">About Us</a></li>
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                    <li><a href="team.html">Team</a></li>                                                    
                                                    <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="blog.html">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>
                                                </ul>
											</li>
                                            <li><a href="contact.html">Contact Us</a></li>                                           
                                        </ul>
                                    </nav>
                                </div>
                            </div>   
                             <div class="col-xl-3 col-lg-3 text-right d-none d-lg-block">
                                 <div class="login">
                                    <ul>
                                        <li><a href="#" class="menu-tigger"><img src="img/icon/search.png" alt="logo"></a></li>
                                        <li>
                                           <a href="contact.html" class="btn"><img src="img/icon/btn-pet-icon.png" alt="logo"> Let’s Talk</a>
                                        </li>
                                    </ul>
                                </div>                               
                            </div>
                            <div class="col-12">
                                <div class="mobile-menu"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- header-end -->
         <!-- offcanvas-area -->
                <div class="offcanvas-menu">
                <span class="menu-close"><i class="fas fa-times"></i></span>
              <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                                <input type="text" name="s" id="search" placeholder="Search"/>
                                <button><i class="fa fa-search"></i></button>
                            </form>

                    
                    <div id="cssmenu3" class="menu-one-page-menu-container">
                        <ul  class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html">Home</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="about.html">About Us</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="services.html">Services</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="pricing.html">Pricing </a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="team.html">Team </a></li>
                             
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="projects.html">Cases Study</a></li>
                             <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="blog.html">Blog</a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="contact.html">Contact</a></li>
                        </ul>
                    </div>  
                    
                    <div id="cssmenu2" class="menu-one-page-menu-container">
                        <ul id="menu-one-page-menu-12" class="menu">
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12 3456897</span></a></li>
                            <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@example.com</span></a></li>
                        </ul>
                    </div>                
            </div>
            <div class="offcanvas-overly"></div>
                 <!-- offcanvas-end -->
        <!-- main-area -->
        <main>
            
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/bg/bdrc-bg.jpg)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-left">
                                <div class="breadcrumb-title">
                                    <h2>About</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
               <!-- about-area -->
            <section class="about-area about-p pt-120 pb-120 p-relative fix">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                         <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                                <img src="img/features/about_img_02.png" alt="img">   
                               <div class="about-text second-about"  style="background-image: url(img/features/exp-img.png); background-size: cover;">
                                   <div class="text">
                                    <span>30</span> 
                                    <p>Years of Experience</p>
                                   </div>
                                    
                                </div>
                            </div>
                          
                        </div>
                        
					<div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content s-about-content pl-15 wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title second-title pb-25">  
                                    <h5><img src="img/icon/sub-icon.png" alt="feature"> <span>since from 1990</span></h5>
                                    <h2>About our <span>Petxon</span> loom care</h2>                                   
                                </div>              
                                 <p>Our dedicated team of animal lovers is committed to providing top-quality care and personalized attention to ensure the health.</p>      
                                    <p>We believe in building strong relationships with both pets and their owners, fostering trust, communication, and mutual respect. When you choose Petxon, you can rest assured that your pets will be treated with the utmost care, respect, and kindness.</p>    
                                
                            </div>
                        </div>
                     
                    </div>
                </div>
            </section>
            <!-- about-area-end -->
             <!-- faq-area -->
            <section class="faq-area pt-120 pb-120 p-relative fix" style="background: #564741;">
                <div class="container">
                    <div class="row align-items-center">                       
                        <div class="col-lg-6 col-md-12  wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">                            
                           <div class="faq-wrap wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                                <div class="section-title second-title mb-50">  
                                    <h5><img src="img/icon/sub-icon.png" alt="feature"> <span>few q & answer</span></h5>
                                    <h2>Benefits of choosing <span>Petxon</span></h2>                                   
                                </div>          
                                <div class="accordion" id="accordionExample">
                                    <div class="card">
                                        <div class="card-header" id="headingThree">
                                            <h2 class="mb-0">
                                                <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree"  >
                                                  Professional Care
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseThree" class="collapse" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags).
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingOne">
                                            <h2 class="mb-0">
                                                <button class="faq-btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                                                 Personalized Service
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseOne" class="collapse show" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                 Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags).
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card">
                                        <div class="card-header" id="headingTwo">
                                            <h2 class="mb-0">
                                                <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo"  >
                                                  Safety and Security
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseTwo" class="collapse" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                              Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags).
                                            </div>
                                        </div>
                                    </div>   
                                    <div class="card">
                                        <div class="card-header" id="headingFour">
                                            <h2 class="mb-0">
                                                <button class="faq-btn collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour"  >
                                               Affordability
                                                </button>
                                            </h2>
                                        </div>
                                        <div id="collapseFour" class="collapse" data-bs-parent="#accordionExample">
                                            <div class="card-body">
                                                 Whiskers & Wags Pet Services" sounds like a delightful name for a pet care service! With its playful tone and clear reference to both cats (whiskers) and dogs (wags).
                                            </div>
                                        </div>
                                    </div>                             
                                                              
                                </div>
                            </div>  
                        </div>     
                        <div class="col-lg-1 col-md-12"></div>
                         <div class="col-lg-5 col-md-12  wow fadeInUp animated" data-animation="fadeInUp" data-delay=".4s">
                           
                            <div class="faq-img">
                                <img src="img/bg/faq-img.png" alt="circle_right">
                            </div>
                        </div>
                    </div>
                    <div class="row pt-120">
                        <div class="col-lg-12">
                            <div class="stitle"><span>who trust us</span></div>
                        </div>
                        <div class="col-lg-12">
                             <!-- brand-area -->
                                <div class="row brand-active">
                                    <div class="col-xl-2">
                                        <div class="single-brand">
                                            <img src="img/brand/b-logo1.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <div class="single-brand">
                                             <img src="img/brand/b-logo2.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <div class="single-brand">
                                             <img src="img/brand/b-logo3.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <div class="single-brand">
                                              <img src="img/brand/b-logo4.png" alt="img">
                                        </div>
                                    </div>
                                    <div class="col-xl-2">
                                        <div class="single-brand">
                                             <img src="img/brand/b-logo5.png" alt="img">
                                        </div>
                                    </div>
                                     <div class="col-xl-2">
                                        <div class="single-brand">
                                             <img src="img/brand/b-logo2.png" alt="img">
                                        </div>
                                    </div>
                                </div>
                                <!-- brand-area-end -->      
                        </div>
                    </div>
                </div>
            </section>
           <!-- faq-area -->    
             <!-- about-area -->
            <section id="about" class="about-area3 pt-120 pb-120 p-relative fix">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img p-relative  wow fadeInLeft animated text-left" data-animation="fadeInLeft" data-delay=".4s">
                                <img src="img/features/ab-img-01.png" alt="img">                                                        
                            </div>
                          
                        </div>                        
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content wow fadeInRight  animated pl-40" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title mb-20">  
                                    <h5><img src="img/icon/sub-icon.png" alt="feature"> <span>core feature</span></h5>
                                    <h2>Why choose us</h2>                                   
                                </div>
                                   <p>Our dedicated team of animal lovers is committed to providing top-quality care and personalized attention to ensure the health.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="abox">
                                            <div class="icon"><img src="img/icon/ab-icon-01.png" alt="feature"></div>
                                            <div class="text">
                                                <h5>Pet Quality Food</h5>
                                                <p>With a range of services including pet sitting, dog walking, and grooming.</p>
                                            </div>
                                        </div>
                                    </div>
                                     <div class="col-lg-6">
                                        <div class="abox">
                                            <div class="icon"><img src="img/icon/ab-icon-01.png" alt="feature"></div>
                                            <div class="text">
                                                <h5>Pet Quality Food</h5>
                                                <p>With a range of services including pet sitting, dog walking, and grooming.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                   <a href="about.html" class="btn btn-brown"><img src="img/icon/btn-pet-icon3.png" alt="logo"> Read More</a>
                            </div>
                        </div>
                    </div>
                     <div class="row align-items-center">                                              
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content wow fadeInRight  animated pr-40" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title mb-20">  
                                    <h5><img src="img/icon/sub-icon.png" alt="feature"> <span>productivity</span></h5>
                                    <h2>We serving best care service for pet</h2>                                   
                                </div>
                                   <p>Our dedicated team of animal lovers is committed to providing top-quality care and personalized attention to ensure the health.</p>
                                <div class="row">
                                    <div class="col-lg-6">
                                       <div class="abox">
                                            <ul>
                                                <li>On-demand service</li>
                                                <li>Our dedicated team</li>
                                            </ul>
                                        </div>
                                    </div>
                                     <div class="col-lg-6">
                                        <div class="abox">
                                            <ul>
                                                <li>Providing quality food for pets</li>
                                                <li>24/7 online call & support</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                   <a href="about.html" class="btn btn-brown mt-40"><img src="img/icon/btn-pet-icon3.png" alt="logo"> Get In Touch</a>
                            </div>
                        </div>
                         <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img2 p-relative  wow fadeInLeft animated text-left" data-animation="fadeInLeft" data-delay=".4s">
                                <img src="img/features/ab-img-02.png" alt="img">                                                        
                            </div>
                        </div>  
                    </div>
                </div>
            </section>
            <!-- about-area-end -->   
        </main>
        <!-- main-area-end -->

        <!-- footer -->
        <footer class="footer-bg footer-p" style="background-color: #40332E; background-image: url(img/bg/footer-bg.png); background-repeat: no-repeat; background-size: cover;">
            <div class="footer-top  pt-120 pb-90">
                <div class="container">
                    <div class="row justify-content-between">
                        
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">  
                                 <div class="f-widget-title">
                                    <h2>Working Hours</h2>
                                </div>
                                <div class="f-work-hour">
                                    <ul>
                                        <li><span>Mon - Fri:</span> <strong>7am - 6pm</strong></li>
                                        <li><span>Saturday:</span> <strong>9am - 4pm</strong></li>
                                        <li><span>Sunday:</span> <strong>Closed</strong></li>
                                    </ul>
                                </div>                                 
                            </div>
                        </div>
                        <div class="col-xl-3 col-lg-3 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Our Gallery</h2>
                                </div>
                                <div class="f-insta">
                                    <ul>
                                        <li><a href="#"><img src="img/instagram/f-galler-01.png" alt="img"></a></li>
                                        <li><a href="#"><img src="img/instagram/f-galler-02.png" alt="img"></a></li>
                                        <li><a href="#"><img src="img/instagram/f-galler-03.png" alt="img"></a></li>
                                        <li><a href="#"><img src="img/instagram/f-galler-04.png" alt="img"></a></li>
                                        <li><a href="#"><img src="img/instagram/f-galler-05.png" alt="img"></a></li>
                                        <li><a href="#"><img src="img/instagram/f-galler-06.png" alt="img"></a></li>                                       
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Essential</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">About us</a></li>
                                        <li><a href="about.html"> Careers</a></li>
                                        <li><a href="services.html"> Prices </a></li>
                                        <li><a href="contact.html"> Services</a></li>
                                        <li><a href="blog.html">Get In Touch </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>More Pages</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="index.html">Auto production</a></li>
                                        <li><a href="about.html"> Investors</a></li>
                                        <li><a href="services.html"> News </a></li>
                                        <li><a href="contact.html"> FAQ’s</a></li>
                                        <li><a href="blog.html">Contact us </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                             <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                   <h2> <img src="img/logo/f_logo.png" alt="img"></h2>
                                </div>
                                  <div class="f-contact">
                                   <ul>
                                      <li>
                                        <h6>Call Us</h6>
                                         <span>+123 456 7890</span>
                                      </li>
                                      <li>
                                        <h6>Our Address</h6>
                                         <span>92 Bowery St, New York, NY</span>
                                      </li>
                                   </ul>
                                </div>
                             </div>
                          </div>                       
                    </div>
                </div>
            </div>
            <div class="copyright-wrap">
                <div class="container">
                    <div class="row align-items-center c-mid">                        
                         <div class="col-lg-4 col-md-6 ">
                               <ul>
                                    <li><a href="#">Privacy Policy</a></li>    
                                    <li><a href="#">Terms Of Service</a></li>
                                </ul>
                            </div>
                         <div class="col-lg-4 col-md-6 ">
                          <div class="copy-text text-center">
                                 Copyright &copy; Petxon 2024. All rights reserved.       
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12 text-right text-xl-right">
                            <div class="footer-social">                                    
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-linkedin"></i></a>
                            </div>    
                        </div>
                    </div>
                    
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
        <script src="js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="js/vendor/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/slick.min.js"></script>
        <script src="js/ajax-form.js"></script>
        <script src="js/paroller.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="js/js_isotope.pkgd.min.js"></script>
        <script src="js/imagesloaded.min.js"></script>
        <script src="js/parallax.min.js"></script>
        <script src="js/jquery.waypoints.min.js"></script>
        <script src="js/jquery.counterup.min.js"></script>
        <script src="js/jquery.scrollUp.min.js"></script>
        <script src="js/jquery.meanmenu.min.js"></script>
        <script src="js/parallax-scroll.js"></script>
        <script src="js/swiper.min.js"></script>        
        <script src="js/jquery.magnific-popup.min.js"></script>
        <script src="js/element-in-view.js"></script>
         <script src="js/vanilla-tilt.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>